@charset "UTF-8";
@import "variable";

/*common*/
body, html, div, p, ul, li, ol, dl, dt, dd, img, a, h1, h2, h3, h4, h5, h6, em, span, strong, input, table, caption, tr, td, th {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, dl, dt, dd {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
  border: none;
  color: #333;
}

a:visited {
  text-decoration: none;
}

img {
  border: none;
  display: block;
}

body, html {
  font-family: "Microsoft YaHei", "宋体";
  background: #f5f5f5;
  font-size: 14px;
  color: #333;
}

input, textarea, select {
  font-family: "Microsoft YaHei", "宋体";
  font-size: 14px;
  color: #666;
  border: none;
  padding: 0 8px;
}

input:focus, input:active:focus {
  outline: none;
}

i, em {
  font-style: normal;
}

img {
  max-width: 100%;
}

/*模态框样式*/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  display: none;
  z-index: 9999
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  display: none;
  overflow: auto
}

.modal .modal-content {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.pullLeft {
  float: left;
}

.pullRight {
  float: right;
}

.clear {
  zoom: 1;
  &:after {
    display: block;
    content: '';
    clear: both;
    overflow: hidden;
  }
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.bg-icon {
  background: url("../images/bg-ico.png") no-repeat;
  display: inline-block;
}

.bg-icon-tel {
  width: 20px;
  height: 20px;
  background-position: 0 0;
  position: relative;
  top: 5px;
  margin: 0 8px 0 40px;
}

.bg-icon-tel_1 {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
  top: 2px;
  margin-right: 10px;
  background-position: -228px -67px;
}

.bg-icon-psw {
  width: 20px;
  height: 20px;
  background-position: 0px -800px;
  position: relative;
  top: 5px;
  margin-right: 5px;
}

.gamepla-bt-ico1 {
  float: left;
  width: 30px;
  height: 30px;
  background: url("../images/ntb-menuico-2.png") no-repeat center;
  margin: 12px 10px 0 0;
}

.gamepla-bt-ico2 {
  float: left;
  width: 30px;
  height: 30px;
  background: url(../images/ntb-menuico-3.png) no-repeat center;
  margin: 13px 10px 0 0;
}

.orange {
  color: $orange;
}

.red {
  color: $red;
}

.flexslider {
  border: none;
  margin-bottom: 0;
}

.flex-control-nav {
  bottom: 60px;
  z-index: 100;
}

.flex-control-nav li a {
  display: inline-block;
  width: 42px;
  height: 11px;
  line-height: 40px;
  overflow: hidden;
  opacity: 0.5;
  background: #000;
  cursor: pointer;
  border-radius: 0;
  &.flex-active {
    background: #f00;
  }
}

.btn-blue, .btn-green, .btn-red {
  display: inline-block;
  width: 36%;
  height: 24px;
  border-radius: 24px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #dcdcdc;
  background: #fff;
  margin: 0 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  font-size: 12px;
}

.btn-blue {
  border-color: #72b1ff;
  color: #09f;
  &:hover {
    background: #72b1ff;
    color: #fff;
  }
}

.btn-green {
  border-color: #49df85;
  color: #1fdc62;
  &:hover {
    background: #49df85;
    color: #fff;
  }
}

.btn-red {
  border-color: #ff3a2b;
  color: #ff3a2b;
  &:hover {
    background: #ff3a2b;
    color: #fff;
  }
}

.header {
  position: fixed;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  z-index: 100;
  @at-root {
    .header_hd {
      width: 100%;
      min-width: 1200px;
      height: 35px;
      line-height: 34px;
      border-top: 1px solid #E2E6E5;
      border-bottom: 1px solid #E1E5E6;
      background: #fff;
      font-size: 13px;
      .fr {
        a {
          border: 1px solid #B6B6B6;
          border-radius: 3px;
          padding: 0 8px;
          font-size: 12px;
          font-weight: bolder;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
          opacity: .6;
          &:hover {
            opacity: 1;
          }
        }
        img {
          float: right;
          height: 21px;
          margin-top: 7px;
          margin-left: 8px;
        }
      }
    }

    .header_bd {
      width: 100%;
      height: 40px;
      line-height: 40px;
      background: #000;
      color: #aaa;
      em {
        color: #fff;
      }
      .forget_psw {
        display: inline-block;
        margin-left: 30px;
        color: #aaa;
        &:hover {
          color: #f60;
        }
      }
    }

    .nav {
      height: 80px;
      margin: 0 auto;
      padding: 0;
      width: 100%;
      background: rgba(0,0,0,.6);
      img {
        margin: 11px 30px 0 0;
      }
      li {
        float: left;
        a {
          width: 104px;
          height: 80px;
          line-height: 80px;
          display: inline-block;
          color: #fff;
          font-size: 14px;
          text-align: center;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 3px;
            bottom: 0;
            left: 50%;
            @include transition(all .2s);
            background: #ff5544;
          }
          &.active {
            font-weight: bold;
            color: #ff5544;
            &:after {
              width: 100%;
              left: 0;
            }
          }
          &:hover {
            font-weight: bold;
            color: #ff5544;
            &:after {
              width: 100%;
              left: 0;
            }
          }
        }
      }
      .header_login {
        display: inline-block;
        width: 80px;
        height: 32px;
        line-height: 28px;
        text-align: center;
        color: #fff;
        font-size: 12px;
        margin: 24px 12px 0 0;
        background: #ff5544;
        border-radius: 18px;
        border: 2px solid #f54;
      }
      .header_register {
        @extend .header_login;
        background: transparent;
        color: #f54;
      }
    }
  }
}

.body {
  padding-top: 52px;
  @at-root {
    .menu {
      margin-bottom: 20px;
      .menuBox {
        height: 56px;
        line-height: 56px;
        margin-top: 15px;
        background: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, .05);
        h3 {
          margin-left: 20px;
          font-size: 18px;
          font-weight: 500;
          color: #000;
          margin-right: 50px;
        }
        li {
          float: left;
          width: 120px;
          text-align: center;
          line-height: 56px;
          cursor: pointer;
          font-size: 13px;
          color: #444;
          position: relative;
          border-left: 1px solid #eee;
          border-right: 1px solid #eee;
          margin-left: -1px;

          &:after {
            //content: "";
            //position: absolute;
            //height: 3px;
            //bottom: 0;
            //left: 50%;
            //background: #ff3a2b;
            //width: 0;
            //transition: all .2s;
          }
          &.active {
            //&:after {
            //  width: 100%;
            //  left: 0;
            //}
            background: #ff3a2b;
            color: #fff;
            &:hover {
              color: #fff;
            }
          }
          &:hover {
            color: #ff3a2b;
          }
        }
      }
      .contentBox {
        position: relative;
        .contentBox_item {
          display: none;
          &.active {
            display: block;
          }
        }
        .n-tb-eg-bt {
          border: 1px solid #e8e8e8;
          background: #fff;
          border-top: none;
          height: 40px;
          line-height: 39px;
          overflow: hidden;
          position: relative;
          .n-tb-eg-bt01 {
            h2 {
              float: left;
              display: inline;
              margin-left: 12px;
              font-size: 14px;
              line-height: 26px;
              font-weight: 500;
              color: #483227;
              margin-top: 6px;
            }
            span {
              line-height: 26px;
              padding: 0 13px;
              background: #ff3a2b;
              box-shadow: 1px 1px 0 #eee, inset 0 0 1px #ff3a2b;
              color: #fff;
              border-radius: 4px;
              margin-right: 12px;
              font-weight: 500;
              margin-top: 6px;
            }
          }
          .n-tb-eg-bt02 {
            text-align: center;
            width: 100%;
            position: absolute;
            display: none;
            left: 0;
            top: 0;
          }
        }
        img {
          width: 100%;
        }
        .n-tb-eg-div {
          position: absolute;
          bottom: 39px;
          left: 0;
          width: 100%;
          height: 32px;
          text-align: center;
          line-height: 32px;
          display: none;
          font-weight: 200;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
          span {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: .25;
            z-index: 2;
            left: 0;
            top: 0;
          }
          em {
            color: #fff;
            position: relative;
            z-index: 3;
          }
        }
        .ntb-eglist {
          li {
            float: left;
            width: 224px;
            height: 340px;
            background: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, .05);
            margin-top: 20px;
            overflow: hidden;
            position: relative;
            .isComing{
              position: absolute;
              left: 5px;
              top: 5px;
              width: 65px;
            }
            .title{
              position: absolute;
              left: 0;
              right:0;
              top: 12px;
              color: #fff;
              font-size: 18px;
              padding-left: 14px;
            }
            .des{
              position: absolute;
              left: 0;
              right:0;
              top: 40px;
              color: #fff;
              font-size: 12px;
              padding-left: 14px;
            }
            &.n-tb-eg-2 {
              width: 224px;
              height: 160px;
              background: #fff;
              margin: 20px 0 0 20px;
              .isComing{
                width: 50px;
              }
              .title,.des{
                //left: 146px;
                text-align: right;
                padding-right: 14px;
              }
              &:hover {
                .n-tb-eg-div {
                  display: block;
                }
                .n-tb-eg-bt01 {
                  display: none;
                }
                .n-tb-eg-bt02 {
                  display: block;
                }
              }
              &.disabled{
                .n-tb-eg-bt01{
                  span{
                    background: #ccc;
                    box-shadow: none;
                  }
                }
              }
              &.disabled:hover {
                .n-tb-eg-div {
                  display: none;

                }
                .n-tb-eg-bt01 {
                  display: block;
                }
                .n-tb-eg-bt02 {
                  display: none;
                }
              }
            }
            //h2 {
            //  font-size: 20px;
            //  font-weight: 500;
            //  margin: 15px 0 0 20px;
            //  color: #333;
            //}
            //p {
            //  font-size: 13px;
            //  margin: 4px 0 0 20px;
            //  color: #aaa;
            //}
            //img {
            //  position: absolute;
            //  left: 0;
            //  bottom: 0;
            //}
            .check_detail {
              position: absolute;
              width: 100%;
              height: 50px;
              background: url("../images/ntb-index-bg1.png") no-repeat;
              left: 0;
              bottom: -50px;
              z-index: 2;
              @include transition(all .2s);
              text-align: center;
              line-height: 50px;
              color: #fff;
              font-size: 14px;
              text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
            }
            &:hover {
              .check_detail {
                bottom: 0;
              }
            }
          }
        }
        .ntb-lvlist {
          @extend .ntb-eglist;
          li {
            width: 390px;
            margin-right: 15px;
            &:last-child {
              margin-right: 0;
            }
            .check_detail {
              background: #fb0;
              opacity: .8;
            }
            .title{
              padding-right: 20px;
              font-size: 38px;
              font-weight: 200;
            }
            .l_title{
              @extend .title;
              font-size: 14px;
              top: 68px;
              color: #6d5342;
            }
            .des1,.des2{
              @extend .des;
              padding-right: 71px;
              font-size: 14px;
            }
            .des1{
              top: 237px;
            }
            .des2{
              top: 262px;
            }
            &:hover {
              .n-tb-eg-bt01 {
                display: none;
              }
              .n-tb-eg-bt02 {
                display: block;
              }
            }
          }
        }
        .n-tb-buyu {
          @extend .ntb-eglist;
          li {
            width: 590px;
            margin-right: 15px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    .notice {
      width: 1200px;
      position: relative;
      z-index: 5;
      height: 50px;
      margin-top: -50px;
      color: #fff;
      .notice-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .6;
        filter: alpha(opacity=60);
      }
      .notice-title {
        color: #fff;
        width: 110px;
        height: 50px;
        line-height: 50px;
        position: relative;
        .bg-icon {
          width: 20px;
          height: 20px;
          background-position: -200px 0;
          margin: 15px 12px 0 12px;
        }
        .notice-title_bg {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 50px;
          background: #fff;
          opacity: 0.08;
          filter: alpha(opacity=8);
        }
      }
      marquee {
        cursor: pointer;
        width: 1090px;
        position: absolute;
        line-height: 50px;
        span {
          margin-right: 30px;
        }
      }
    }

    .n-tb-left {
      width: 956px;
      @at-root {
        .gamelist-ul {
          li {
            float: left;
            width: 116px;
            margin-right: 52px;
            &:hover {
              .gamelist-bt {
                color: red;
                text-decoration: underline;
              }
            }
            &:nth-child(6n) {
              margin-right: 0;

            }
          }
          .gamelist-pic {
            width: 114px;
            height: 114px;
            overflow: hidden;
            border-radius: 8px;
            margin: 30px auto 0 auto;
          }
          .gamelist-bt {
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            padding-top: 4px;
            line-height: 36px;
            color: rgb(51, 51, 51);
          }
        }
      }
    }

    .n-tb-right {
      width: 224px;
      height: 439px;
      margin-top: 15px;
      box-shadow: 0 0 5px rgba(0, 0, 0, .05);
      background: #ed342b url(../images/ntb-zgbg.jpg) no-repeat;
      .game-client {
        margin: 0 1px;
        background: #fff;
        margin-top: 58px;
        box-shadow: 0 -2px 3px rgba(0, 0, 0, .06);
      }
      .ntb-egzj-bt {
        width: 100%;
        height: 30px;
        line-height: 30px;
        background: #ff532b;
        li {
          float: left;
          padding-left: 12px;
          color: #fff;
          &:first-child{
            width: 66px;
          }
          &:nth-child(2){
            width: 74px;
          }
        }
      }
      .ntb-egzj {
        position: relative;
        //height: 350px;
        overflow: hidden;
        padding: 0 10px;
        li {
          clear: both;
          overflow: hidden;
          width: 100%;
          position: relative;
          border-bottom: 1px solid #eee;
          height: 38px;
          padding: 7px 0;
          font-size: 12px;
        }
        .ntb-egzj-game{
          width: 70px;
          line-height: 24px;
        }
        .ntb-egzj-name {
          padding-left: 10px;
          //padding-top: 8px;
          line-height: 24px;
          color: red;
        }
        .ntb-egzj-time {
          position: absolute;
          right: 3px;
          //padding-top: 8px;
          line-height: 24px;
          color: #aaa;
        }
      }
    }

    .pro-b-bg {
      width: 100%;
      min-width: 1200px;
      height: 520px;
      background: #210339 url(../images/pro-bg03.jpg) no-repeat center top;
    }
    .pro-b-banner {
      position: relative;
      height: 400px;
      margin-top: -340px;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0,0,0,.2);
    }
    .pro-ul {
      li {
        width: 1198px;
        background: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.05);
        border: 1px solid #eee;
        margin: 20px 0 0 0;
        overflow: hidden;
        position: relative;
        transition: all .1s ease-in;
        -moz-transition: all .1s ease-in;
        -ms-transition: all .1s ease-in;
        -o-transition: all .1s ease-in;
        -webkit-transition: all .1s ease-in;
        div {
          float: left;
          display: inline;
          width: 600px;
          height: 240px;
          margin: 0px;
          overflow: hidden;
          border-right: 1px solid #e8e8e8;
        }
        .ov-h {
          font-size: 20px;
          font-weight: 500;
          line-height: 48px;
          padding: 0 30px;
          color: #222;
          margin-top: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        p {
          line-height: 24px;
          font-size: 13px;
          color: #808080;
          padding: 10px 30px 0 30px;
          overflow: hidden;
          font-weight: 500;
        }
        span {
          display: block;
          margin: 20px 0 0 0;
          height: 56px;
          line-height: 56px;
          width: 597px;
          padding-left: 50px;
          color: #888;
          font-size: 13px;
          font-weight: 200;
          border-top: 1px solid #e8e8e8;
          position: absolute;
          bottom: 0;
          right: 0;
          background: url(../images/exp-time.png) no-repeat 30px center;
          a {
            float: right;
            width: 169px;
            text-align: center;
            background: #fff;
            border-left: 1px solid #e8e8e8;
            color: #ff3a2b;
            font-size: 14px;
            &:hover{
              background: #ff3a2b;
              color: #fff;
              em{
                color: #fff;
              }
            }
          }
          em {
            font-family: 宋体;
            color: rgb(255, 58, 43);
            display: inline-block;
            padding-left: 5px;
            font-size: 13px;
          }
        }
      }
    }

    .pro-nr-bg {
      float: left;
      width: 100%;
      min-width: 1200px;
      background: url(../images/pro-bg03.jpg) no-repeat center top;
      padding-top: 80px;
      .pro-xq {
        background: #fff;
        position: relative;
        margin-top: 50px;
        width: 100%;
        box-shadow: 0 0 5px rgba(0,0,0,.1);
      }
      .pro-xq-bt {
        margin: 30px 40px 0px 40px;
        padding-bottom: 35px;
        text-align: center;
        border-bottom: 2px solid #dcdcdc;
        h2 {
          font-size: 28px;
          font-weight: 200;
          line-height: 60px;
        }
        span {
          display: inline-block;
          padding: 0 6px;
          color: #aaa;
          font-size: 14px;
        }
      }
      .pro-cont {
        padding: 0px 40px 40px 40px;
        h1 {
          font-size: 18px;
          font-weight: 500;
          color: #606060;
          margin: 30px 0px 0 0;
          position: relative;
        }
        p {
          padding: 10px 0px;
          text-align: left;
          font-size: 13px;
          line-height: 22px;
          color: #666;
        }
      }
      .tbpro-lqlc{
        .tbpro-lqlc-li {
          float: left;
          width: 202px;
          background: #fff;
          border: 2px solid #b4b0bc;
          border-radius: 16px;
          line-height: 100px;
          text-align: center;
          font-size: 15px;
          margin-bottom: 20px;
          margin-top: 10px;
          color: #2a2139;
        }
        .tbpro-lqlc-li2 {
          float: left;
          width: 26px;
          line-height: 104px;
          text-align: center;
          font-size: 18px;
          color: #c9c7cd;
          font-weight: bold;
          margin-top: 10px;
        }
      }
      .rules-ol {
        clear: both;
        padding: 10px 0px;
        margin-bottom: 15px;
        li {
          list-style-type: decimal;
          margin-left: 1.2em;
          font-size: 13px;
          line-height: 22px;
          color: #666;
          padding: 10px 0;
          clear: both;
        }
      }
    }
    .tbbg-margin {
      position: relative;
      z-index: 2;
      padding-top: 580px;
      .live-ul {
        width: 100%;
        position: relative;
        z-index: 9;
        border-top: 2px solid #080808;
        overflow: hidden;
        li {
          width: 300px;
          height: 300px;
          overflow: hidden;
          background: url(../images/online_live_bg_2.jpg) no-repeat left top;
          border-left: 2px solid #080808;
          position: relative;
          margin-left: -2px;
          z-index: 2;
          transition: all .3s;
          -moz-transition: all .3s;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          filter: grayscale(.2);
          -webkit-filter: grayscale(.2);
          -moz-filter: grayscale(.2);
          -o-filter: grayscale(.2);
          -ms-filter: grayscale(.2);
          .isComing{
            position: absolute;
            left: 5px;
            top: 5px;
            width: 80px;
            z-index: 5;
          }
          &.on{
            width: 600px;
            background: url(../images/online_live_bg_1.jpg) no-repeat center top;
            box-shadow: 0 0 12px rgba(0,0,0,.2);
            z-index: 1;
            opacity: 1;
            filter: grayscale(0);
            -webkit-filter: grayscale(0);
            -moz-filter: grayscale(0);
            -o-filter: grayscale(0);
            -ms-filter: grayscale(0);
            .mnv-1,.mnv-2,.mnv-3 {
              -moz-opacity: 1;
              opacity: 1;
              filter: alpha(opacity=100);
            }
            .live-mnv h2 {
              left: -50px;
              -moz-opacity: 0;
              opacity: 0;
              filter: alpha(opacity=0);
            }
            .live-mshu {
              right: 20px;
              transition: all .3s .2s;
              -moz-transition: all .3s .2s;
              -webkit-transition: all .3s .2s;
              -o-transition: all .3s .2s;
              p {
                top: 0;
                -moz-opacity: .95;
                opacity: .95;
                filter: alpha(opacity=95);
                transition: all 0.4s 0.5s;
                -moz-transition: all 0.4s 0.5s;
                -webkit-transition: all 0.4s 0.5s;
                -o-transition: all 0.4s 0.5s;
              }
            }
            .live-link {
              -moz-opacity: 1;
              opacity: 1;
              filter: alpha(opacity=100);
              transition: all 0.4s .6s;
              -moz-transition: all 0.4s .6s;
              -webkit-transition: all 0.4s .6s;
              -o-transition: all 0.4s .6s;
            }
          }
        }
        .mnv-1, .mnv-2, .mnv-3 {
          -moz-opacity: 0.85;
          opacity: 0.85;
          filter: alpha(opacity=85);
          transition: all .3s;
          -moz-transition: all .3s;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
        }
        .mnv-1 {
          background: url(../images/live-mn-1.png) no-repeat;
        }
        .mnv-2 {
          background: url(../images/live-mn-2.png) no-repeat;
        }
        .mnv-3 {
          background: url(../images/live-mn-3.png) no-repeat;
        }
        .mnv-4 {
          background: url(../images/live-mn-4.png) no-repeat;
        }

        .live-mnv {
          position: absolute;
          width: 300px;
          height: 300px;
          overflow: hidden;
          z-index: 1;
          bottom: 0;
          left: 0;
          h2 {
            position: relative;
            top: 0;
            left: 0;
            font-size: 24px;
            line-height: 50px;
            margin-top: 20px;
            margin-right: 25px;
            color: #fff;
            text-align: right;
            font-weight: normal;
            -moz-opacity: .9;
            opacity: .9;
            filter: alpha(opacity=90);
            -webkit-transition: all .15s;
            -ms-transition: all .15s;
            -moz-transition: all .15s;
            -o-transition: all .15s;
            transition: all .15s;
            em{
              position: relative;
              top: -12px;
              font-size: 14px;
              color: #fff;
              -moz-opacity: .5;
              opacity: .5;
              filter: alpha(opacity=50);
            }
          }
        }
        .live-mshu {
          position: absolute;
          width: 360px;
          height: 300px;
          z-index: 2;
          right: -360px;
          top: 0;
          transition: all .1s;
          -moz-transition: all .1s;
          -webkit-transition: all .1s;
          -o-transition: all .1s;
          h2 {
            position: relative;
            font-size: 24px;
            clear: both;
            overflow: hidden;
            line-height: 50px;
            margin-top: 20px;
            margin-right: 25px;
            color: #f5e1af;
            font-weight: normal;
            text-shadow: 0 0 5px rgba(0,0,0,.75);
          }
          p {
            position: relative;
            top: 20px;
            width: 100%;
            margin-right: 20px;
            font-size: 12px;
            font-weight: 200;
            line-height: 22px;
            margin-top: 6px;
            color: #fff;
            height: 52px;
            -moz-opacity: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            transition: all .2s;
            -moz-transition: all .2s;
            -webkit-transition: all .2s;
            -o-transition: all .2s;
          }
        }
        .live-link {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          float: right;
          -moz-opacity: 0;
          opacity: 0;
          filter: alpha(opacity=0);
          transition: all .2s;
          -moz-transition: all .2s;
          -webkit-transition: all .2s;
          -o-transition: all .2s;
          a {
            width: 300px;
            height: 54px;
            -webkit-transition: all .2s;
            -ms-transition: all .2s;
            -moz-transition: all .2s;
            -o-transition: all .2s;
            transition: all .2s;
          }
        }
      }
    }

    .by-bg {
      width: 100%;
      height: 892px;
      position: relative;
      overflow: hidden;
      margin-bottom: -20px;
      background: url(../images/buyu-bg.jpg) no-repeat center top;
      .isComing{
        position: absolute;
        left: 5px;
        top: 10px;
        width: 80px;

      }
      .pt-by-bg, .ag-by-bg {
        margin-top: 572px;
        width: 599px;
        height: 300px;
        position: relative;
        z-index: 2;
        overflow: hidden;
        margin-right: 1px;
        a {
          width: 202px;
          height: 62px;
          background: url(../images/buyu-an.png) no-repeat;
          margin: 200px 0 0 40px;
          cursor: pointer;
          position: relative;
        }
      }
      .ag-by-bg {
        background: url(../images/buyu-ag.png) no-repeat;
      }
      .pt-by-bg {
        background: url(../images/buyu-pt.png) no-repeat;
      }
    }
  }
}

.tb-foot-1 {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .04);
  background: #fff;
  margin-top: 20px;
  ul {
    border-left: 4px solid #f0f0f0;
    height: 88px;
  }
  li {
    float: left;
    width: 296px;
    border-right: 4px solid #f0f0f0;
    height: 88px;
    padding: 0;
    div {
      width: 60px;
      height: 60px;
      margin: 14px 12px 0 20px;
      -webkit-transition: all .1s;
      -ms-transition: all .1s;
      -moz-transition: all .1s;
      -o-transition: all .1s;
      transition: all .1s;
      &.ft-ico-1 {
        background-position: 0px -240px;
      }
      &.ft-ico-2 {
        background-position: -60px -240px;
      }
      &.ft-ico-3 {
        background-position: -120px -240px;
      }
      &.ft-ico-4 {
        background-position: -180px -240px;
      }
    }
    h2 {
      font-size: 17px;
      color: #000;
      font-weight: 500;
      line-height: 30px;
      margin-top: 16px;
    }
    p {
      color: #999;
      line-height: 22px;
      font-size: 12px;
    }
    &:hover {
      div {
        background-position-y: -180px;
      }
      h2 {
        color: #d20;
      }
      p {
        color: #666;
      }
    }
  }
}

.footer {
  background: #111;
  color: #aaa;
  li {
    float: left;
    &:first-child {
      width: 300px;
      padding-right: 30px;
      border-right: 1px solid #181818;
    }
    &:nth-child(2) {
      width: 600px;
      padding: 0 30px;
      border-left: 1px solid #181818;
      border-right: 2px solid #181818;
    }
    &:last-child {
      width: 300px;
      padding-left: 30px;

    }
    .title {
      width: 100%;
      border-bottom: 2px solid #181818;
      margin-bottom: 5px;
      padding: 24px 0;
      h2 {
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        padding-left: 12px;
        border-left: 2px solid #aaa;
      }
    }
    h4 {
      padding-top: 8px;
      font-size: 13px;
      color: #888;
      line-height: 38px;
      font-weight: bold;
      padding-bottom: 3px;
    }
    .foot-logo {
      float: left;
      width: 129px;
      height: 40px;
      background: #181818;
      margin-bottom: 5px;
      margin-right: 5px;
    }
    .foot-logo em {
      width: 100%;
      height: 40px;
      opacity: .4;
    }
    .foot-logo_1 em {
      background-position: -400px -80px;
    }
    .foot-logo_2 em {
      background-position: -520px -80px;
    }
    .foot-logo_3 em {
      background-position: -400px 0;
    }
    .foot-logo_4 em {
      background-position: -520px 0;
    }
    .foot-logo_5 em {
      background-position: -400px -40px;
    }
    .foot-logo_6 em {
      background-position: -520px -40px;
    }
    .foot-logo_7 em {
      background-position: -400px -120px;
    }
    .foot-logo_8 em {
      background-position: -520px -120px;
    }
    .foot-game {
      padding: 8px 0;
      em {
        font-size: 14px;
        color: #999;
        line-height: 38px;
      }
      p {
        line-height: 20px;
        color: #444;
      }
    }
    .foot-phone {
      font-size: 28px;
      color: #999;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: normal;
      margin-top: 15px;
    }
    .bg-icon-qq {
      display: inline-block;
      margin: 12px 0 0 35px;
      width: 90px;
      height: 32px;
      line-height: 32px;
      text-indent: 1em;
      color: #fff;
      text-align: center;
      background-position: -125px -64px;
    }
  }
}

.footer-ft {
  height: 72px;
  //line-height: 72px;
  background: #151515;
  color: #666;
  li {
    float: left;
    font-size: 13px;
    a {
      display: inline-block;
      color: #888;
      padding: 0 25px;
      margin: 27px 0;
      border-right: 1px solid #282828;
    }
    &:last-child {
      a {
        border: none;
      }
    }
  }
}

.aside{
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 9999;
  margin-top: -155px;
  li{
    position: relative;
    text-align: center;
  }
  .aside_qq{
    position: absolute;
    width: 100%;
    left: 0;
    top: 30px;
    //z-index: 10000;
    color: #fff;
  }
  .aside_tel{
    @extend .aside_qq;
    top: 78px;
  }
  .aside_erweima{
    position: absolute;
    width: 100px;
    left: 14px;
    top: 20px;
  }
}
.aside_l{
  position: fixed;
  top: 50%;
  z-index: 9999;
  margin-top: -140px;
  left: 0;
  li{
    position: relative;
    text-align: center;
  }
  .aside_erweima{
    position: absolute;
    width: 100px;
    left: 14px;
    top: 112px;
  }
}

.modal-login {
  .modal-content {
    width: 400px;
    height: 400px;
    background: #fff;
    border-radius: 6px;
    padding: 5px 30px 0 30px;;
  }
  .close {
    position: absolute;
    top: 24px;
    right: 30px;
    width: 20px;
    height: 20px;
    background-position: -140px -140px;
    cursor: pointer;
    -moz-opacity: .25;
    opacity: .25;
    filter: alpha(opacity=25);
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    z-index: 2;
  }
  .modal-login_form {
    h2 {
      overflow: visible;
      position: relative;
      clear: both;
      width: 100%;
      height: 60px;
      line-height: 59px;
      text-align: left;
      font-size: 20px;
      color: #333;
      margin-bottom: 16px;
      border-bottom: 1px solid #e8e8e8;
    }
  }
  .modal-login_line {
    position: relative;
    width: 100%;
    overflow: visible;
    clear: both;
    height: 68px;
    input {
      height: 44px;
      line-height: 44px;
      width: 99%;
      padding: 0;
      background: none;
      border: 1px solid #ccc;
      box-shadow: inset 0 0 3px rgba(0, 0, 0, .1);
      border-radius: 3px;
      font-size: 13px;
      text-indent: 6px;
      &.username {
        background: url(../images/user-ico.png) no-repeat right center;
      }
      &.psw {
        background: url(../images/lock-ico.png) no-repeat right center;
      }
    }
    &.code {
      input {
        width: 200px;
      }
      img {
        display: inline;
        height: 44px;
        vertical-align: -90%;
      }
    }
  }
  .modal-login_submit {
    width: 100%;
    float: left;
    height: 50px;
    line-height: 50px;
    border-radius: 3px;
    overflow: hidden;
    background: none;
    border: none;
    background: #ff3a2b;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, .25);
    }
  }
  .modal-login_link {
    a {
      color: #ff3a2b;
    }
  }
}
.modal-daili{
  .modal-content{
    height: 410px!important;
    textarea{
      width: 100%;height: 100px;border: 1px solid #ccc;border-radius: 4px;padding: 8px
    }
  }
}


.menu .contentBox .ntb-eglist li:hover{box-shadow: 0 0 10px #ccc;}
.menu .contentBox .ntb-lvlist li:hover{box-shadow: 0 0 10px #ccc}
.menu .contentBox .n-tb-buyu li:hover{box-shadow: 0 0 10px #ccc}
.n-tb-right .ntb-egzj{padding: 0 10px}
.n-tb-right .ntb-egzj li span{display: inline-block;font-size: 12px;}
.n-tb-right .ntb-egzj li .tit{color: #444}
.n-tb-right .ntb-egzj li .price{color: #d00;font-weight: bold;}
.n-tb-right .ntb-egzj li.on .time{margin-top: -35px}
.nav .iconfont{font-size: 18px;margin-right: 5px;vertical-align: bottom;}
.live-list{margin-top: 10px}
.live-list .iconlist{float: left;width: 60px;text-align: center;margin-right: 20px;}
.live-list .iconlist .icon{transition:all 0.4s 0.5s;-moz-transition:all 0.4s 0.5s;-webkit-transition:all 0.4s 0.5s;-o-transition:all 0.4s 0.5s;position: relative;top: 5px}
.live-list .iconlist .tit{margin-top: 5px;color: #fff;opacity: 0.5;filter:alpha(opacity=50);}
.live-list .iconlist .icon{display: inline-block;width: 60px;height: 60px}
.tbbg-margin .live-ul li.on .icon{top: 0px}
.minnav{height: 40px}
.minnav .logopic{width: 115px;margin-top: 13px}
.minnav li a{height: 40px;line-height: 40px;font-size: 13px;width: 98px}
.minnav .header_login, .minnav .header_register{margin-top: 4px}


.txtScroll-top{overflow: hidden;}
.txtScroll-top .bd{padding: 0 10px}
.n-tb-right .ntb-egzj li.on .pic{width: 58px;height: 58px;border-radius: 5px;float: left;display: inline-block;}
.txtScroll-top li.on .pic img{border-radius: 5px}
.txtScroll-top li.on dl{float: left;margin-left: 10px;width: 65%;margin-top: 10px}
.txtScroll-top li.on dd{margin-top: 5px;color: #999}
.txtScroll-top .ntb-egzj li{height: auto;padding: 14px 0;}
.n-tb-right .ntb-egzj li .pic{display: none;}
.n-tb-right .ntb-egzj li.on dl dd{margin-left: 0}
.n-tb-right .ntb-egzj li dl dd .togtit{display: none}
.n-tb-right .ntb-egzj li.on dl dd .togtit{display: inline-block;}
.n-tb-right .ntb-egzj li dl dd{margin-left: 10px;float: left;}
.n-tb-right .ntb-egzj li dl dt{float: left;}
.n-tb-right .ntb-egzj li .time{margin-top: 0;color: #aaa;text-align: right;}

.txtScroll-top .bd{position: relative;height: 355px;overflow: hidden;}
.txtScroll-top .ntb-egzj{position: absolute;left: 0;top: 0;width: 100%}
.header_bd{font-size: 12px}
.nav img{margin: 16px 0px 0 0;
  max-width: 89%;}
.nav li a{width: 100px}
.modal-login .modal-content{height: 340px;}

.login_con{
  .top {
    a{
      width: 100%;
    }
  }
  .login_left{
    width: 100%;
  }
  .line_form .line{
    margin-left: 200px;
  }
}

.ele-live-wrap {
  max-width: 960px;
  padding: 3px 0 0;
  margin: 0 auto;
  background: #000;
  overflow: hidden;
}

.ele-live-main-wrap {
  margin: 0 auto;
  margin-bottom: 4px;
  width: 960px;
}
.ele-live-bbin-wrap {
  position: relative;
  float: left;
  width: 75%;
  &:hover{
    .ele-img-default{
      opacity: 0;
    }
    .ele-live-bbin-inner{
      opacity: 1;
    }
  }
}
.ele-link-bbin {
  position: relative;
  display: block;
}
.ele-live-wrap img {
  width: 100%;
  height: auto;
}
.ele-img-default {
  position: relative;
  z-index: 1;
}
.ele-img-hover-effect {
  width: 100%;
  display: block;
}
.ele-img-active {
  position: absolute;
  top: 0;
  left: 0;
}

.ele-bbin-links-wrap {
  position: absolute;
  top: 90px;
  right: 48px;
  z-index: 2;
  width: 380px;
}

.ele-live-bbin-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .3s;
}

.bbin-livehall {
  display: inline-block;
  width: 98px;
  height: 98px;
  color: #9F9F9F;
  text-align: center;
  text-decoration: none;
  background-color: rgba(32,32,32,.5);
  border: solid 1px #626262;
  margin: 8px 24px 8px 0;
  .ele-bbin-name {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 10px;
    text-align: center;
  }
  &:hover{
    border:1px solid #ecc47f;
    .ele-bbin-name{
      color: #fff;
    }
    .ele-icon-bbin{
      background-position-y: -40px;
    }
  }
}

.ele-icon-bbin {
  width: 52px;
  height: 40px;
  background: url(../images/livecasino_icon.png) no-repeat;
  margin: 13px auto;
}

.ele-btn-play {
  position: absolute;
  bottom: 26px;
  right: 24px;
  z-index: 2;
  display: block;
  width: 142px;
  height: 38px;
  background: url(../images/live_bbin_play.png) no-repeat;
  &:hover{
    background-position-y: -40px;
  }
}


.ele-live-slider-wrap {
  position: relative;
  float: right;
  width: 24.6875%;
}
.livehall-row, .livehall-row-ad {
  float: left;
  width: 25%;
  margin-bottom: 4px;
}
.livehall-playnow {
  position: relative;
  display: block;
  margin: 0 2px;
  &:hover{
    .ele-img-default{
      opacity: 0;
    }
  }
}
.img-tablet, .img-mobile {
  display: none;
}

.lay-out {
  padding-top: 141px;
}
.tai_header {
  position: fixed;
  top: 0;
  z-index: 103;
  width: 100%;
  min-width: 1024px;
  background-color: #1b191a;
  border-bottom: 1px solid #383126;
  @at-root {
    .tai_header-top {
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid #383126;
      .language {
        display: inline-block;
        overflow: hidden;
        span {
          float: left;
          width: 20px;
          height: 35px;
          margin-right: 5px;
          line-height: 35px;
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
          background-image: url(../images/cn.png);
          &:nth-child(2) {
            background-image: url(../images/hk.png);
          }
          &:nth-child(3) {
            background-image: url(../images/usa.png);
          }
        }
      }
      .div-tel {
        display: inline-block;
        height: 35px;
        color: #fff;
        font-size: 12px;
        line-height: 35px;
        vertical-align: top;
      }
      .top-nav {
        float: right;
        li {
          float: left;
          font-size: 12px;
          line-height: 35px;
          -moz-transition: all linear .3s;
          -o-transition: all linear .3s;
          -webkit-transition: all linear .3s;
          transition: all linear .3s;
          a {
            color: #ff0;
          }
          &.slideDown {
            position: relative;
            .slideDown-item {
              position: absolute;
              left: -70px;
              bottom: -400px;
              display: none;
              .erwei{
                width: 100px;
                position: absolute;
                left: 42px;
                top: 141px;
              }
            }
            &:hover {
              .slideDown-item {
                display: block;
                img{
                  max-width: 1000px;
                }
              }
            }
          }
        }
      }
    }

    .tai_nav {
      position: relative;
      width: 1000px;
      height: 101px;
      margin: 0 auto;
      .logo-bg {
        position: relative;
        display: inline-block;
        width: 240px;
        height: 100px;
      }
      ul > li {
        position: relative;
        float: left;
        width: 85px;
        height: 101px;
        color: #a0a0a0;
        text-align: center;
        margin-right: 5px;
        -moz-transition: color .4s;
        -o-transition: color .4s;
        -webkit-transition: color .4s;
        transition: color .4s;
        &:hover {
          color: #fff47e;
          border-bottom: 4px solid #fff47e;
          a span {
            color: #fff47e;
          }
          .subnav {
            display: inline-block;
          }
        }
        &.on{
          color: #fff47e;
          border-bottom: 4px solid #fff47e;
          a span {
            color: #fff47e;
          }
        }
        a {
          display: block;
          height: 100%;
          padding-top: 33px;
          color: inherit;
          font-weight: bold;
          line-height: 22px;
          text-decoration: none;
          span {
            display: block;
            color: #5f5f5f;
            font-size: 12px;
            font-weight: normal;
            -moz-transition: all .4s;
            -o-transition: all .4s;
            -webkit-transition: all .4s;
            transition: all .4s;
          }
        }
        .subnav {
          display: none;
          position: absolute;
          top: 109px;
          left: -11px;
          background: rgba(0, 0, 0, .85);
          border: 2px solid #ffd053;
          &:before {
            content: '▲';
            position: absolute;
            top: -15px;
            left: 0;
            width: 116px;
            color: #ffd053;
          }
          li {
            width: 116px;
            height: 36px;
            border-bottom: 1px dotted rgba(255, 255, 255, .15);
            color: #fff;
            font-size: 13px;
            line-height: 36px;
            text-align: center;
            cursor: pointer;
            &:hover {
              color: #ffcb3e;
            }
          }
        }
      }
    }
  }
}

.tai_header-bot {
  position: absolute;
  top: 188px;
  left: 50%;
  margin-left: -498px;
  width: 260px;
  height: 246px;
  min-width: 0;
  background: url(../images/login_bg.png) no-repeat;
  border-bottom: 1px solid #383126;
  .wrapper {
    width: auto;
  }
  &.scrollTop {
    position: fixed;
    left: 0;
    top: 139px;
    margin: 0;
    z-index: 102;
    width: 100%;
    height: 54px;
    min-width: 1024px;
    background: #1b191a;
    border-bottom: 1px solid #383126;
    li {
      height: 54px !important;
      line-height: 54px !important;
    }
    .wrapper {
      position: relative;
      width: 1000px;
      margin: 0 auto;
    }
    .account-box {
      display: block;
      height: 100%;
      text-align: right;
      vertical-align: top;
      padding: 0;
      &:before {
        content: '';
        float: left;
        width: 121px;
        height: 55px;
        vertical-align: top;
        background: url(../images/headerlogin.png) no-repeat;
      }

    }
    .action-box {
      .logout-btn {
        display: inline-block;
        width: 78px;
        height: 34px;
        color: #000;
        line-height: 34px;
        text-decoration: none;
        text-align: center;
        background: #efcc52;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
      }
    }
    form {
      padding-top: 11px;
      float: right;
      input {
        width: 180px;
        height: 32px;
      }
      .forget-btn {
        position: absolute;
        top: 13px;
        right: 270px;
        display: block;
        height: 28px;
        padding: 0 5px;
        color: #fff;
        line-height: 28px;
        background-color: #b90000;
      }
      .login-box {
        width: 130px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        vertical-align: top;
        background-position: center top;
        border: none;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        color: #000;
        background: #efcc52;
      }
      .check-code-wrapper{
        width: 225px;
        .captcha{
          right: -1px;
          height: 32px;
        }
      }
      .join-btn{
        position: static;
        display: inline-block;
        width: 130px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        background-color: transparent;
        background-image: url(../images/btn_joinus.png);
        vertical-align: top;
        background-position: center top;
        border: none;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        color: #fff47e;
      }
    }
    .account-nav{
      li{
        &.noBorder:after {
          content: '|';
          padding: 0 1px;
          color: #ffe8a1;
        }
      }
    }
  }
  .account-box {
    display: block;
    height: 100%;
    text-align: left;
    vertical-align: top;
    padding: 55px 0 0 16px;
  }
  form {
    text-align: left;
    position: relative;
    float: left;
    height: 100%;
    input {
      background-image: url(../images/input_icon.png);
      width: 230px;
      height: 35px;
      margin-bottom: 5px;
      padding: 0 25px;
      color: #a0a0a0;
      line-height: 32px;
      vertical-align: top;
      border: 1px solid #434343;
      background-color: transparent;
      background-position: left top;
      background-repeat: no-repeat;
      &#login_password {
        background-image: url(../images/input_icon.png);
        background-position-y: bottom;
      }
    }
    .check-code-wrapper {
      position: relative;
      display: inline-block;
      vertical-align: top;
      input {
        width: 149px;
        padding-left: 5px;
        background: transparent;
      }
      .captcha {
        position: absolute;
        width: 75px;
        top: 0;
        right: -81px;
        height: 34px;
        cursor: pointer;
      }
    }
    .login-box {
      width: 230px;
      height: 40px;
      margin: 0;
      color: #fff;
      font-size: 15px;
      background: url(../images/btn01.png) no-repeat center top;
      line-height: 34px;
      text-align: center;
      vertical-align: top;
      background-position: center top;
      border: none;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      &:hover {
        background-position-y: bottom;
        cursor: pointer;
      }
    }
    .forget-btn {
      top: 43px;
      right: 16px;
      color: #ccc;
      background: #272727;
      position: absolute;
      display: block;
      height: 28px;
      padding: 0 5px;
      line-height: 28px;
    }
    .join-btn {
      position: absolute;
      top: -43px;
      right: 3px;
      width: 90px;
      height: 33px;
      color: red;
      font-size: 15px;
      font-weight: bold;
      background: none;
      line-height: 34px;
      text-align: center;
      vertical-align: top;
      background-position: center top;
      border: none;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      &:after {
        content: '';
        display: inline-block;
        width: 4px;
        height: 12px;
        margin: 0 0 0 6px;
        vertical-align: middle;
        background: url(../images/regbtn.png) no-repeat center top;
      }
    }
  }
  .account-info {
    position: relative;
    display: inline-block;
    vertical-align: top;
    > li {
      height: 34px;
      line-height: 34px;
      margin-left: 3px;
      float: left;
      margin-right: 15px;
      color: #ffe8a1;
      font-family: SimSun;
      vertical-align: top;
      .account {
        display: inline-block;
        max-width: 6em;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: top;
        overflow: hidden;
      }
    }
  }
  .account-nav {
    display: inline-block;
    text-align: left;
    li {
      display: inline-block;
      margin: 0;
      color: #ffe8a1;
      font-family: SimSun;
      font-size: 12px;
      height: 34px;
      line-height: 34px;
      margin-left: 3px;
      a {
        color: inherit;
        text-decoration: none;
      }
      &:after {
        content: '|';
        padding: 0 1px;
        color: #ffe8a1;

      }
      &.noBorder:after {
        content: '';
        padding: 0;
      }
      &:last-child:after{
        content: '';
        padding: 0;
      }
    }
  }
  .action-box {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    .logout-btn {
      width: 230px;
      height: 40px;
      margin: 0;
      color: #fff;
      font-size: 15px;
      line-height: 40px;
      background: url(../images/btn01.png) no-repeat center top;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      background-color: #efcc52;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      border: none;
      cursor: pointer;
    }
  }
}

.tai_banner {
  height: 530px;
  background-image: url(../images/banner.jpg);
  &.tai_banner-live {
    background-image: url(http://cdn.ccpt-cn.com/Web.Portal/GA001-01.Portal/Content/Views/Lobby/Live/banner.jpg);
    height: 250px;
    margin-top: 52px;
  }
}

.tai_news {
  margin-top: -46px;
  background-color: rgba(13, 12, 13, .7);
  position: relative;
  padding: 0 20px;
  height: 46px;
  .container {
    padding: 0 0 0 148px;
    height: 46px;
    background: url(../images/news.png) no-repeat left center;
    &:before {
      content: '最新消息 / NEWS';
      position: absolute;
      top: 13px;
      left: 28px;
      color: #fff47e;
    }
    marquee {
      white-space: nowrap;
      overflow: hidden;
      height: 46px;
      line-height: 46px;
      color: #fff;
    }
  }
}

.tai_content {
  padding: 15px 0 0;
  background-color: #1b191a;
  @at-root {
    .tai_game-box {
      position: relative;
      display: block;
      width: 1015px;
      margin: 20px auto 40px;
      li {
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 495px;
        height: 250px;
        margin: 0 10px 10px 0;
        background-repeat: no-repeat;
        border: 2px solid #252224;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        -webkit-transition: all .5s;
        transition: all .5s;
        a {
          position: relative;
          display: inline-block;
          width: 100%;
          height: 100%;
          background-position: center bottom;
          background-repeat: no-repeat;
          opacity: 0;
          filter: alpha(opacity=0);
          -moz-transition: opacity .5s, background-position-y .4s;
          -o-transition: opacity .5s, background-position-y .4s;
          -webkit-transition: opacity .5s, background-position-y .4s;
          transition: opacity .5s, background-position-y .4s;
        }
        &.game {
          background-image: url(../images/taiyang_live1.jpg);
          a {
            background-image: url(../images/taiyang_live1_hover.png);
          }
        }
        &.live {
          background-image: url(../images/taiyang_live2.jpg);
          a {
            background-image: url(../images/taiyang_live2_hover.png);
          }
        }
        &.sport {
          margin-bottom: 0;
          background-image: url(../images/taiyang_live3.jpg);
          a {
            background-image: url(../images/taiyang_live3_hover.png);
          }
        }
        &.lottery {
          margin-bottom: 0;
          background-image: url(../images/taiyang_live4.jpg);
          a {
            background-image: url(../images/taiyang_live4_hover.png);
          }
        }
        &:before {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          width: 0;
          height: 0;
          background-image: url(../images/itemhover.png);
          -moz-transition: all .5s;
          -o-transition: all .5s;
          -webkit-transition: all .5s;
          transition: all .5s;
        }

        &.notLast:hover {
          border: 2px solid #bd8b50;
          a {
            background-position-y: center;
            opacity: 1;
            filter: alpha(opacity=100);
          }
          &:before {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
        }
        &.middle {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 218px;
          height: 218px;
          margin: -109px 0 0 -109px;
          background: #1b191a url(../images/taiyang_middle.png) no-repeat center;
          border: none;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          &:hover {

          }
        }
      }
    }

    .tai_home-contact {
      display: block;
      text-align: center;
      background-color: #181516;
      li {
        display: inline-block;
        width: 242px;
        height: 69px;
        padding-left: 25px;
        color: #999;
        line-height: 69px;
        text-align: left;
        background-position: left center;
        background-repeat: no-repeat;
        &.phone {
          background-image: url(../images/icon_tel.png);
        }
        &.email {
          background-image: url(../images/icon_mail.png);
        }
        &.kefu {
          background-image: url(../images/icon_chat.png);
        }
        span {
          color: #efcc52;
          font-family: "Arial";
          font-size: 14px;
        }
        a {
          color: #fff;
          font-size: 12px;
        }
      }
    }

    .branding-area {
      display: block;
      height: 249px;
      text-align: center;
      background: #171516 url(../images/bottombg.jpg) no-repeat center;
      li {
        display: inline-block;
        width: 175px;
        margin-top: 84px;
        padding-top: 44px;
        line-height: 20px;
        text-align: center;
        background-position: center top;
        background-repeat: no-repeat;
        h2 {
          margin: 0;
          color: #fff;
          font-size: 14px;
        }
        h3 {
          margin: 0;
          color: #666;
          font-size: 12px;
          font-weight: normal;
        }
        &:first-child {
          background-image: url(../images/icon_good.png);
        }
        &:nth-child(2) {
          margin-right: 278px;
          background-image: url(../images/icon_cer.png);
        }
        &:nth-child(3) {
          background-image: url(../images/icon_privacy.png);
        }
        &:last-child {
          background-image: url(../images/icon_vip.png);
        }
      }
    }
  }
}

.tai_footer {
  padding: 25px 0 20px;
  background: #0e0c0c;
  .footer-logo {
    height: 38px;
    background: url(../images/footer_logo.png) no-repeat center;
  }
  .footer-suggest {
    margin-bottom: 0;
    color: #666;
    text-align: center;
    margin-top: 8px;
  }
}

.pages {
  padding: -1px 0px;
  height: auto;
}
.w1000 {
  width: 1000px;
  margin: 0 auto;
}
.sports_content{
  padding: 30px 0;
  a{
    display: block;
    text-align: center;
    margin-bottom: 10px;
    &:hover{
      -webkit-filter: brightness(125%);
      filter: brightness(125%);
      -ms-filter: brightness(125%);
      -o-filter: brightness(125%);
      -moz-filter: brightness(125%);
    }
  }
}

.lottery-con li {
  width: 269px;
  height: 158px;
  background: url(../images/bx.png) no-repeat center;
  position: relative;
  padding: 17px 0 0 15px;
  text-align: left;
  margin: 25px 24px 0;
  float: left;
  font-family: "simsun"
}
.ltext {
  display: block;
  color: #fff;
  font-size: 14px;
  margin-left: 6px;
}
.lottery-con{
  padding: 29px 0px;
  .container{
    width: 1000px;
  }
}
.lottery-con li a {
  position: absolute;
  top: 80px;
  right: 23px;
  width: 110px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: url(../images/enterbg.png) no-repeat center;
  &:hover {
    color: #FFC600;
  }
}
.lottery-con li img{
  display: block;
  margin-top: 15px
}
.lottery-con .bbin h1{
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-top: 28px;
  font-family: 'Microsoft YaHei'
}
.lottery-con .bbin a{
  top: 92px!important;
  right: 82px!important;

}
.banner {
  height: 632px;
  position: relative;
  width: 100%!important;
  background: #000;
}
.banner .bd,
.banner ul,
.banner li {
  position: absolute;
  width: 100%!important;
  height: 100%;
}
.banner li {
  background-image: url(../images/lottoryBanner.jpg);
}
.banner li a {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

/*notice*/
.notice-row {
  height: 0;
  line-height: 0;
  position: relative;
  z-index: 1;
  width: 100%;
}
.noticeBox {
  position: absolute;
  width: 100%;
  height: 49px;
  line-height: 49px;
  left: 0;
  bottom: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  font-size: 14px;
}
.noticeBox .title {
  width: 96px;
  float: left;
  color: #FFCE4B;
  text-indent: 25px;
  background: url(../images/icon-notice.png) 0 center no-repeat;
}
.noticeBox .bd2 {
  width: 910px;
  float: right;
  height: 33px;
  line-height: 50px;
  position: relative;
  overflow: hidden;
  margin-top: 1px;
}
.noticeBox .bd2 li {
  font-size: 14px;
  color: #fff;
  height: 49px;
}
.noticeBox .bd2 a {
  color: #fff;
}
.noticeBox .bd2 a:hover {
  text-decoration: underline;
}
.w {
  width: 1020px;
  min-width: 1020px;
  margin: 0 auto;
}

/*彩票游戏*/
.lotteryPage {
  background: url(../images/lottoryBg.jpg) center bottom no-repeat #1B1B1B;
  /*min-height: 500px;*/
}
.lottery {
  width: 993px;
  margin: 0 auto;
  padding-top: 20px;
}
.lottery ul {
  width: 1020px;
}
.lottery ul li {
  width: 400px;
  height: 200px;
  border: 3px solid #434242;
  overflow: hidden;
  /*margin-bottom: 20px;*/
  /*margin-right: 100px;*/
  margin: 0 50px 20px;
  float: left;
  transition: all 0.3s;
  position: relative;
}
.lottery ul li img {
  float: left;
  margin-left: 16px;
  margin-top: 18px;
  display: block;
  background: #1e1d1d;

}
.lottery ul li a {
  display: block;
  height: 148px;
}
.lottery ul li .liright {
  float: right;
  width: 146px;
  padding-top: 35px;
  line-height: 26px;
  text-align: center;
  margin-right: 7px;
}
.lottery ul li .liright h2 {
  font-family: "Microsoft Yahei";
  font-weight: bold;
  color: #ffffff;
  font-size: 18px;
  transition: all 0.3s;
  height: 26px;
}
.lottery ul li .liright span {
  font-family: Arial;
  font-size: 12px;
  color: #898989;
  transition: all 0.3s;
  line-height: 30px;
}
.lottery ul li .rulebtn {
  width: 114px;
  height: 24px;
  display: block;

  line-height: 24px;
  color: #898989;

  position: absolute;
  right: 24px;
  bottom: 32px;
  text-align: center;
  font-family: "Microsoft Yahei";
  font-size: 14px;
  border: 1px solid #373737;
  border-radius: 2px;
  transition: all 0.3s;
}
.lottery ul li:hover {
  border: 3px solid #ecdf88;
}
.lottery ul li:hover .rulebtn {
  background: #FFCE4B;
  color: #000000;
}
