.fl{float: left;}
.fr{float: right;}
.themeCr{color: #ff3a2b}
.viceColor{color: #06f}
.hide{display: none;}
button:focus{border:none;outline: none;}

.default_con{clear: both;margin-top: 175px;overflow: hidden;overflow: hidden;width: 1200px;margin-left: auto;margin-right: auto;}

.user_con{clear: both;margin-top: 175px;border: 1px solid #e8e8e8;box-shadow: 0 0 5px rgba(0,0,0,.06);background: #f6f6f6;
	overflow: hidden;overflow: hidden;}
.user_con .user_left{width: 16.7%;}
.user_con .user_right{padding: 0 2.5% 2% 2.5%;background: #fff;margin-left: 16.7%;font-size: 14px;box-shadow: 0 0 7px rgba(0,0,0,.06);
	min-height: 800px}
.user_con .user_left li .iconfont{font-size: 20px;margin-right: 10px;vertical-align:middle;color: #666}
.user_con .user_left li a{display: inline-block;width: 100%;height: 68px;line-height: 68px;font-size: 14px;color: #444;
	border-left: 2px solid #f6f6f6;padding-left: 60px;border-right: 1px solid #e8e8e8;background: url("../images/user-icon1.png") no-repeat 20px center;
	border-bottom: 1px solid #e8e8e8}
.user_con .user_left li:nth-child(2) a{
    background-image: url("../images/user-icon2.png");
}
.user_con .user_left li:nth-child(3) a{
    background-image: url("../images/user-icon3.png");
}
.user_con .user_left li:nth-child(4) a{
    background-image: url("../images/user-icon4.png");
}
.user_con .user_left li:nth-child(5) a{
    background-image: url("../images/user-icon5.png");
}
.user_con .user_left li.active a{border-left-color: #dd0000;color: #dd0000;border-right: 0;background-color: #fff;background-image: url("../images/user-icon1-1.png");}
.user_con .user_left li:nth-child(2).active a{border-left-color: #dd0000;color: #dd0000;border-right: 0;background-color: #fff;background-image: url("../images/user-icon2-2.png");}
.user_con .user_left li:nth-child(3).active a{border-left-color: #dd0000;color: #dd0000;border-right: 0;background-color: #fff;background-image: url("../images/user-icon3-3.png");}
.user_con .user_left li:nth-child(4).active a{border-left-color: #dd0000;color: #dd0000;border-right: 0;background-color: #fff;background-image: url("../images/user-icon4-4.png");}
.user_con .user_left li:nth-child(5).active a{border-left-color: #dd0000;color: #dd0000;border-right: 0;background-color: #fff;background-image: url("../images/user-icon5-5.png");}
.user_con .user_left .active a .iconfont{color: #dd0000;}
.userbasic_con{overflow: hidden;padding-top: 20px;border-bottom: 1px solid #e6e6e6;padding-bottom: 20px;}
.userbasic_con .basic_left{width: 50%;float: left;border-right: 1px solid #e6e6e6}
.userbasic_con .basic_right{width: 48%;float: left;margin-left: 2%}
.userbasic_head{height: 68px;line-height: 68px;border-bottom: 1px solid #e8e8e8}
.userbasic_head a{display: inline-block;padding: 0 45px;height: 67px;border-bottom: 2px solid #fff}
.userbasic_head a.active{border-bottom: 2px solid #dd0000}
.level_img{display: inline-block;height: 15px;overflow: hidden;width: 73px}
.basic_module{padding-top: 20px}

.user_con .tips{line-height: 38px;}
.user_con .tips .name{color: #06f;margin-right: 15px}
.level_tips{font-size: 12px;line-height: 20px}
.level_line{display: inline-block;background: #eee; width: 200px; height: 6px; border-radius: 6px; overflow: hidden; margin: 6px 12px 0 10px;
	position: relative;}
.level_line .level{position: absolute;left: 0;top: 0;height: 6px;border-radius: 6px;background:#ff3a2b;
	display: inline-block;}
.level_tips .change_psw {color: #06f;margin-left: 10px}

.basic_modify{margin-top: 10px}
.basic_modify a{display: inline-block;color: #bbb;margin-right: 20px}
.basic_modify a .iconfont{font-size: 22px;color: #ff3a2b;margin-right: 8px}
.basic_modify .after{color: #333}
.basic_modify .after .iconfont{color: #50ed92}

.member_wrap{display: inline-block;width: 60px;height: 18px;line-height: 18px;color: #fff;text-align: center;border-radius: 20px;font-weight: 200;
	background: #ff3a2b}
.vp{background: #bdb6ba}
.basic_right .level_line{width: 300px}
.vip_tips{color: #bbb;margin-top: 15px}

.gameroom_list{overflow: hidden;padding-top: 15px;width: 100%;}
.gameroom_list li{width: 23.7%;padding: 18px 0;border: 1px solid #dcdcdc;box-shadow: 0 0 5px rgba(0,0,0,.12);margin-right: 1%;margin-top: 0.9%;border-radius: 8px;position: relative;
	float: left;}
.gameroom_list li.on{background: #ff7469;box-shadow: 0 0 5px #ff7469}
.gameroom_list li p{margin: 0 15px}
.gameroom_list li .account{font-size: 12px}
.gameroom_list li .name{margin-bottom: 5px}
.pos{font-size: 16px;font-weight: 500;color: #d00;margin-left: 10px}
.refresh{display: inline-block;background: url(../images/bg-ico.png) no-repeat center center;
	background-position: -80px -102px;width: 18px;height: 16px;margin-left: 10px;margin-top: 3px;vertical-align: inherit}
.gameroom_list li .name .iconfont{font-weight: bold;color: #bbbbbb;vertical-align: bottom;margin-left: 10px;
	font-size: 20px}

.head_line{background: #f5f5f5;padding: 0 10px;margin-top: 30px;font-weight: normal;font-size: 13px;height: 36px;line-height: 36px}
.head_line .tit{padding-left: 10px;border-left: 2px solid #d00}
.basic_info .list li{width: 48%;display: inline-block;line-height: 36px;margin-bottom: 5px;margin-top: 10px;font-size: 13px;color: #888}
.basic_info .list .title{min-width: 100px;display: inline-block;}

.loading_shadow{position: fixed;width: 100%;height: 100%;left: 0;top: 0;right: 0;background: rgba(255,255,255,0.2);z-index: 99999;text-align: center;}
.loading_shadow .loading_win{display: inline-block;margin: 40px;margin-top: 23%}

.bank_tips{background: #fff4d7;height: 30px;line-height: 30px;padding: 0 12px;color: #f85a3f;font-size: 12px;margin: 18px 0 5px 0;}
.bank_list{margin-top: 25px}
.bank_list li{padding: 5px 0;width: 100%;border-bottom: 1px dotted #dcdcdc;line-height: 54px;color: #888;font-size: 12px}
.bank_list li .tit{color: #444;font-size: 13px;min-width: 100px;display: inline-block;}
.modify_bank a{display: inline-block;width: 126px;height: 38px;padding: 0;border-radius: 4px;text-align: center;line-height: 38px;cursor: pointer;background: /*url(../image/bg/bg-ico.png) no-repeat 0 -142px*/#fff;border: 1px solid #bbb;box-shadow: 0px 0px 4px rgba(0,0,0,.15);color: #444;font-family: "Microsoft YaHei";font-size: 12px;
	margin-top: 25px}
.modify_bank a:hover{color:#ff3a2b;border-color:#ffa39c;box-shadow:0px 0px 4px rgba(255,58,43,.5);}

.close_wrap{display: inline-block;width: 20px;height: 20px;position: absolute;right: 30px;top: 23px;}
.close_wrap .close{transition:0.3s;}
.close_wrap:hover .close{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg);}
.bank-modal .modal-login_form h2{font-weight: normal;border:none;}

.bank_modal_con .left{float: left;width: 92px}
.bank_modal_con .right{float: left;width: 235px}
.bank_modal_con .right h4{font-size: 20px;font-weight: 400;line-height: 30px;color: #333;}
.bank_modal_con .right p{line-height: 20px;font-size: 14px;color: #909090;padding-top: 6px;max-width: 400px;}
.bank_modal_con .set_now {clear: both;text-align: right;padding-top: 15px}
.bank_modal_con .set_now a{display: inline-block;min-width: 68px;height: 40px;background-color: #ff3a2b;line-height: 40px;border-radius: 4px;padding: 0 15px;text-align: center;margin: 0 0 0 10px;color: #fff;}
.bank-modal .modal-content{height: 250px}

.ecode-modal-con{text-align: left;}
.ecodemodify-modal .modal-content{height: 280px}
.ecode-modal-con .line .tit{display: inline-block;min-width: 80px}
.ecode-modal-con .line .inp{height: 40px;background: #fff;border: 1px solid #d0d0d0;border-radius: 2px;box-shadow: 2px 2px 1px rgba(0,0,0,.06),inset 1px 1px 3px rgba(0,0,0,.06);line-height: 40px;font-size: 12px;color: #999;cursor: pointer;font-family: "Microsoft YaHei";padding: 0 5px;
	width: 120px}
.ecode-modal-con .line{margin: 15px 0}
.ecode-modal-con .line .send{display: inline-block;height: 40px;width: 80px;background: #35cf6f;opacity: .75;filter: alpha(opacity=75);margin-left: 5px;border-radius: 3px;    -moz-opacity: .75;line-height: 40px;text-align: center;color: #fff;border:none;cursor: pointer;font-family: "Microsoft YaHei";font-size: 12px;
	width: 114px}
.ecode-modal-con .line .sub{width: 128px;height: 40px;line-height: 40px;text-align: center;background: #ff3a2b;color: #fff;border-radius: 3px;font-size: 14px;cursor: pointer;}

.safemodify-modal{text-align: center;}
.safemodify-modal .modal-content{height: 280px}
.safemodify-modal .modal-content h2{border:none;}
.safemodify-modal .tips{line-height: 40px;margin-top: -10px;padding-bottom: 15px;font-size: 14px;font-weight: 200;color: #808080;text-align: center;}
.safemodify-modal .tips a{color: #ff3a2b;margin-left: 5px}
.safemodify-modal .inp{width: 100%;height: 40px;background: #fff;border: 1px solid #d0d0d0;border-radius: 2px;box-shadow: 2px 2px 1px rgba(0,0,0,.06),inset 1px 1px 3px rgba(0,0,0,.06);line-height: 40px;font-size: 12px;color: #999;cursor: pointer;font-family: "Microsoft YaHei";padding: 0 5px;}
.safemodify-modal .sub{float: left;width: 100%;height: 46px;line-height: 46px;text-align: center;background: #ff3a2b;color: #fff;margin: 15px 0 0 0px;border-radius: 3px;font-size: 15px;cursor: pointer;-moz-opacity: .92;opacity: .92;}

/*.lock_list{margin-top: 17px;border: 1px solid #e6e6e6;border-radius: 6px;box-shadow: 0 0 5px rgba(0,0,0,.1);padding: 0;width: auto;overflow: hidden;}
*/
.lock_list{margin-top: 17px;padding: 0;width: auto;}

.lock_list li{float: left;display: inline;width: 33.25%;background: #fff;;overflow: hidden;padding: 20px 2% 15px 2%;position: relative;margin: 0 0 0 -1px;
	border: 1px solid #e6e6e6;box-shadow: 0 0 5px rgba(0,0,0,.1)}
.lock_list li .top .left{width: 70px;float: left;}
.lock_list li:first-child{border-top-left-radius: 6px;border-bottom-left-radius: 6px;}
.lock_list li:last-child{border-top-right-radius: 6px;border-bottom-right-radius: 6px;}
.lock_list li .top .right{width: 190px;float: left;margin-left: 10px}
.lock_list li h3{font-weight: normal;font-size: 18px;margin-bottom: 5px}
.lock_list li p{font-size: 12px;color: #888}
.lock_list li .bot{clear: both;padding-top: 15px}
.lock_list li .bot button{width: 100%;color: #555;font-size: 14px;font-weight: 500;display: inline-block;text-align: center;
	border: 1px solid #bbbbbb;border-radius: 3px;line-height: 36px;cursor: pointer;background: #fff;font-family: "微软雅黑";
	float: left;}
.lock_list li .bot button:focus{border:none;outline: none;}
.lock_list li .bot .min{width: 48%;margin-right: 2%}
.lock_list li .bot .success{background: #91ed9f;color: #fff;border-color: #91ed9f}

.lock_line{width: 100%;height: 4px;border: 1px solid #bbbbbb;border-radius: 5px;background: #e8e8e8;
	position: relative;display: none;margin-top: 14px;float: left;}
.lock_line .level{width: 0%;height: 4px;border-radius: 5px;background: #f85a3f;position: absolute;left: -1px;top: -1px;}
.min_line{width: 48%;margin-right: 2%}

.account_line{margin-top: 20px;background: none}
.msg_list {margin-top: 20px}
.msg_list li{padding: 20px 0;border-top: 1px solid #e8e8e8;color: #999;font-size: 12px;}
.msg_list li img{display: inline-block;vertical-align: middle;}
.msg_list li .tit{font-size: 14px;color: #444;margin:0 20px 0 15px;}
.msg_list li:last-child{border-bottom: 1px solid #e8e8e8;}
.account_save{text-align: right;margin-top: 15px;}
.account_save,.indoor_main,.indoor_main,.account_save{width: 128px;height: 40px;border-radius: 4px;text-align: center;line-height: 38px;background: #ff3a2b;color: #fff;font-size: 12px;display: inline-block;
	border:none;cursor: pointer;}
.account_default a{background: #fff;border:1px solid #bbbbbb;box-shadow: 0 0 5px #bbb;color: #444;margin-left: 5px}

.msg_list .titleshow{display: inline-block;margin-left: 15px;vertical-align: middle;}
.msg_list .titleshow h3{font-size: 16px;font-weight: normal;color: #444}
.msg_list .titleshow h3 .is_modify{display: inline-block;background: #b2e986;border: 1px solid #b2e986;height: 16px;line-height: 14px;padding: 0 5px;font-size: 12px;border-radius: 2px;position: relative;margin-left: 12px;top: -1px;color: #fff;}
.msg_list .titleshow h3 .none{display: inline-block;background: #fff8ee;border: 1px solid #ffcf91;height: 16px;line-height: 15px;padding: 0 5px;font-size: 12px;border-radius: 2px;position: relative;margin-left: 12px;top: -1px;color: #ff9010;}
.msg_list .titleshow p{line-height: 24px; font-size: 12px; font-weight: 200; color: #666;margin-top: 10px}
.msg_list li .modify{width: 106px;height: 32px;border-radius: 4px;text-align: center;line-height: 30px;cursor: pointer;background: #ff3a2b;border: 1px solid #ff3a2b;box-shadow: 0px 0px 4px rgba(0,0,0,.15);color: #fff;margin-top: 22px;}
.msg_list li .modifyed{background: #fff;color: #444;border-color: #dcdcdc;cursor: default;}


.switch { position: relative; display: inline-block; vertical-align: top; width: 56px; height: 28px; padding: 3px; background-color: white; border-radius: 18px;  cursor: pointer; }
.switch-input { position: absolute; top: 0; left: 0; opacity: 0;}
.switch-label { position: relative; display: block; height: inherit; font-size: 10px; text-transform: uppercase; background: #eceeef; border-radius: inherit; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15); -webkit-transition: 0.15s ease-out; -moz-transition: 0.15s ease-out; -o-transition: 0.15s ease-out; transition: 0.15s ease-out; -webkit-transition-property: opacity background; -moz-transition-property: opacity background; -o-transition-property: opacity background; transition-property: opacity background;}
.switch-label:before, .switch-label:after { position: absolute; top: 50%; margin-top: -.5em; line-height: 1; -webkit-transition: inherit; -moz-transition: inherit; -o-transition: inherit; transition: inherit;}
.switch-label:before { content: attr(data-off); right: 8px; color: #aaa; text-shadow: 0 1px rgba(255, 255, 255, 0.5);}
.switch-label:after { content: attr(data-on); left: 8px; color: white; text-shadow: 0 1px rgba(0, 0, 0, 0.2); opacity: 0;}
.switch-input:checked ~ .switch-label { background: #47a8d8; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);}
.switch-input:checked ~ .switch-label:before { opacity: 0;}
.switch-input:checked ~ .switch-label:after { opacity: 1;}

.switch-handle { position: absolute; top: 5px; left: 4px; width: 24px; height: 24px; background: white; border-radius: 10px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0); background-image: -moz-linear-gradient(top, white 40%, #f0f0f0); background-image: -o-linear-gradient(top, white 40%, #f0f0f0); background-image: linear-gradient(to bottom, white 40%, #f0f0f0); -webkit-transition: left 0.15s ease-out; -moz-transition: left 0.15s ease-out; -o-transition: left 0.15s ease-out; transition: left 0.15s ease-out;}
.switch-input:checked ~ .switch-handle { left: 33px; box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);}

.switch-green > .switch-input:checked ~ .switch-label { background: #4fb845;}

.safe_level_box{margin-top: 20px;margin-bottom: 21px;border: 1px solid #dcdcdc;box-shadow: 0 0 6px rgba(0,0,0,.1);border-radius: 4px;padding: 20px 30px 25px 30px;font-size: 12px}
.safe_level_box .themeCr{font-size: 14px;margin: 0 3px}
.safe_level_box .level_line{width: 350px}

.line_form .line{width: 100%;font-size: 12px;margin: 15px 0;line-height: 34px;color: #444}
.line_form .line .inp{width: 270px;height: 40px;background: #fff;border: 1px solid #d0d0d0;border-radius: 2px;box-shadow: 2px 2px 1px rgba(0,0,0,.06),inset 1px 1px 3px rgba(0,0,0,.06);line-height: 40px;font-size: 12px;color: #999;font-family: "Microsoft YaHei";padding: 0 5px;}
.line_form .line .tit{display: inline-block;width: 100px;}
.line_form .line .tips{margin-left: 15px;color: #999}
.line_form .line .tips .themeCr{color: #ec3c71;margin-right: 10px;vertical-align: middle;}
.line_form .line .tips .special{color: #ff6717;}
.line_form .line .tips .iconfont{vertical-align: middle;margin-right: 5px}
.line_form .line .error-tips{color: #ff2200}
.line_form .line textarea{width: 500px;height: 90px;resize:none;box-shadow: 2px 2px 1px rgba(0,0,0,.06),inset 1px 1px 3px rgba(0,0,0,.06);border:1px solid #d0d0d0;
	border-radius: 3px;padding: 5px}
.line_form .line .success-icon{color: #5beb8b;font-size: 18px;margin-left: 15px}
.line_form .line .add_form{display: inline-block;width: 270px;height: 40px;overflow: hidden;background: #fff;border: 1px solid #d0d0d0;border-radius: 2px;box-shadow: 2px 2px 1px rgba(0,0,0,.06),inset 1px 1px 3px rgba(0,0,0,.06);line-height: 40px;font-size: 12px;color: #999;}
.line_form .line .add_form .front{width: 30px;border-right: 1px solid #bbbbbb;display: inline-block;height: 39px;text-align: center;}
.line_form .line .add_form .inp{width: 230px;border:none;height: 36px;box-shadow: none}

.line_form .line .checkbox{vertical-align: middle;margin-right: 3px}
.line_form .minline{padding: 0;margin: 0}
.line_form .line .ecodeinp{width: 120px}

.account_form .tit{display: inline-block;float: left;min-width: 100px;padding-top: 15px;font-weight: bold}
.account_form .ways{float: left;width: 89%;position: relative;border-bottom: 1px solid #dcdcdc;padding: 10px 0}
.account_form .ways .ways_box{display: inline-block;position: relative;width: 148px;padding-left:10px;height: 46px;line-height: 46px;background: #fff;border: 1px solid #dcdcdc;box-shadow: 0 0 5px rgba(0,0,0,.1);margin: 5px 7px 5px 0;border-radius: 2px;cursor: pointer;color: #333;
	font-size: 12px}
.account_form .ways .ways_box .icon{display: inline-block;vertical-align: middle;margin-right: 15px;margin-top: -4px}
.account_form .ways_box .new_tips{position: absolute;right: 0;top: 0}
.account_form .account_index .active .check{display: inline-block;width: 20px;height: 20px;background: url(../images/n-u-43b.png) no-repeat;
	background-position:-20px 0px;position: absolute;right: 0;bottom: 0;}
.account_form .account_index .active{border-color: #ff3a2b}
.account_form .account_index:nth-of-type(1) .active{border-color: #2acc65;box-shadow: 0 0 5px #2acc65}
.account_form .account_index:nth-of-type(2) .active{border-color: #ff3a2b;box-shadow: 0 0 5px #ff3a2b;border-color: #ff3a2b}
.account_form .account_index:nth-of-type(3) .active:nth-of-type(1){border-color: #2acc65;box-shadow: 0 0 5px #2acc65;border-color: #2acc65}
.account_form .account_index:nth-of-type(3) .active:nth-of-type(1) .check{background: url(../images/n-u-43b.png) no-repeat;background-position:0px 0px;}
.account_form .account_index:nth-of-type(3) .active:nth-of-type(2){border-color: #0099ff;box-shadow: 0 0 5px #0099ff;border-color: #0099ff}
.account_form .account_index:nth-of-type(3) .active:nth-of-type(2) .check{background: url(../images/n-u-43b.png) no-repeat;background-position:-40px 0px;}
.account_form .account_index:nth-of-type(3) .active:nth-of-type(3){border-color: #0099ff;box-shadow: 0 0 5px #0099ff;border-color: #0099ff}
.account_form .account_index:nth-of-type(3) .active:nth-of-type(3) .check{background: url(../images/n-u-43b.png) no-repeat;background-position:-40px 0px;}


.account_form .ways .shake{ -webkit-animation: gogogo1 0.5s infinite linear; position: absolute;left: 160px;margin-top: 15px;}
.account_form .line{padding: 10px 0;position: relative;overflow: hidden;}
.account_form .line .inp{width: 118px; height: 38px; margin-top: 2px;background: #fff; border: 1px solid #d0d0d0; border-radius: 2px; box-shadow: 2px 2px 1px rgba(0,0,0,.06),inset 1px 1px 3px rgba(0,0,0,.06); line-height: 40px; font-size: 12px; color: #999;padding: 0 5px;margin-right: 10px}
.account_form .line .select,.line_form .line .select{width: 180px; height: 38px;border: 1px solid #d0d0d0; font-size: 12px; color: #999;padding: 0 5px;margin-right: 10px;border-radius: 3px;box-shadow: 2px 2px 1px rgba(0,0,0,.06),inset 1px 1px 3px rgba(0,0,0,.06);}
.account_form .noborder{border-bottom: 0}
.account_form .noborder .ways{border-bottom: 0}
.account_form .line .tips{line-height: 20px;font-size: 12px;padding: 4px 0 4px 3px;color: #444;}
.account_form .line .tips dl{line-height: 20px;font-size: 12px;padding: 4px 0 4px 3px;color: #444;}
.account_form .line .tips dl dd{margin-left: 10px}
.account_form .line .tips h4{line-height: 30px;color: #f33;font-size: 15px;padding: 30px 0 10px 0;}
.account_form .warm_tips{display: none;}

@keyframes gogogo1{
    0%{left:160px;top:0;}
    60%{left:164px;top:0px;}
    100%{left:160px;top:0px;}
}
@-webkit-keyframes gogogo1{
    0%{left:160px;top:0;}
    60%{left:164px;top:0px;}
    100%{left:160px;top:0px;}
}
@-moz-keyframes gogogo1{
    0%{left:160px;top:0;}
    60%{left:164px;top:0px;}
    100%{left:160px;top:0px;}
}
@-o-keyframes gogogo1{
    0%{left:160px;top:0;}
    60%{left:164px;top:0px;}
    100%{left:160px;top:0px;}
}

.account_form  .choosebank{display: none;padding: 0 0 20px;}
.choosebank .ways{border: none}
.bankchoose_list li{float: left;position: relative;width: 128px;height: 40px;overflow: hidden;border: 1px solid #ccc;border-radius: 2px;box-shadow: 0 0 5px rgba(0,0,0,.12);margin: 0 9px 10px 0;opacity: .8;cursor: pointer;}
.toggle_more{clear: both;position: relative;border-bottom: 1px solid #dcdcdc;padding-top: 15px}
.toggle_more a{display: inline-block;box-shadow: 0 0 4px #eaeaea;border-color: #f64;background: #f64;color: #fff;position: absolute;width: 98px;height: 24px;background: #f2f2f2;color: #666;cursor: pointer;border-radius: 0 0 3px 3px;line-height: 24px;border: 1px solid #eaeaea;border-top: none;text-align: center;left: 50%;bottom: -25px;margin: 0px 0 0 -50px;}
.green_pass{display: none;}
.alipay_line{}

.userbasic_wrap{padding: 15px;}
.customer_head_toggle{height: 45px}
.customer_head_toggle select{width: 180px; height: 38px;border: 1px solid #d0d0d0; font-size: 12px; color: #999;padding: 0 5px;margin-right: 10px;border-radius: 3px;box-shadow: 2px 2px 1px rgba(0,0,0,.06),inset 1px 1px 3px rgba(0,0,0,.06);}
.customer_head_toggle .time{font-size: 12px;}
.customer_head_toggle .time a{height: 36px;line-height: 36px;padding: 0 20px;background: #eee;cursor: pointer;margin-top: 0;margin-left: -1px;position: relative;margin-left: 2px;border-radius: 2px;display: inline-block;}
.customer_head_toggle .time a.active{background: #ff6644;color: #fff;}
.table_top table{width: 100%;margin-top: 15px}
.table_top table thead{background: #f2f2f2}
.table_top table thead th{height: 36px;text-align: left;vertical-align: middle;background: #f2f2f2;padding-left: 15px;font-size: 12px;font-weight: normal;color: #888;}
.table_top table tbody td{padding: 15px 5px 15px 15px;font-size: 12px;color: #444;border-bottom: 1px solid #e6e6e6}


.noticeList li{width: auto;border: 1px solid #e6e6e6;box-shadow: 0 0 5px rgba(0,0,0,.12);border-radius: 12px;padding: 8px 20px 15px 20px;
	margin-top: 20px}
.noticeList li h5{font-size: 15px;font-weight: 500;color: #333;line-height: 32px;}
.noticeList li p{font-size: 12px;line-height: 20px;color: #888;font-weight: 400;}
.noticeList li.active h5{color: #e00}
.noticeList li.active{border-color: #ffb0ac;box-shadow: 0 0 5px #ffcac7;}
.noticeList li.active p{color: #444}

.complaint_form .line .select{width: 270px}
.complaint_form .doubleSelect .select{width: 128px}
.complaint_form .doubleSelect .inp{width: 133px}
.line_form .line_ercode .inp{width: 115px}

.identify_module{overflow: hidden;padding: 0 1.5%;border: 1px solid #dcdcdc;border-radius: 4px;box-shadow: 0 0 5px rgba(0,0,0,.1);margin-top: 20px;}
.identify_module h3{font-size: 14px;font-weight: 500;color: #666;line-height: 40px}
.identify_module ul{padding-bottom: 15px}
.identify_module ul li{display: inline-block;text-align: center;padding: 0 30px}
.identify_module ul li .iconfont{font-size: 24px;color: #ff3a2b;margin-right: 8px;}
.identify_module ul li p{font-size: 12px;color: #ff3a2b;margin-top: 5px}
.identify_module ul .success .iconfont{color: #50ed92;}
.identify_module ul .success p{color: #aaa;}

.identify_module .num_right{margin-top: -60px;color: #aaa;font-size: 12px;text-align: center;padding-left: 45px;
	border-left: 1px solid #e6e6e6;}
.identify_module .num_right .num{font-size: 20px;font-weight: bold;color: #ff3a2b}
.identify_module .tips{border-top: 1px solid #e6e6e6;color: #aaa;font-size: 12px;padding: 13px 0}
.identify_module .tips .modify{color: #2ba8ff;margin-left: 15px}
.identify_module .receive{border: 1px solid #e6e6e6;background: #f5f5f5;color: #909090;cursor: default;width: 118px;height: 36px;line-height: 34px;text-align: center;
	display: inline-block;cursor: pointer;}

.identify_module h3 .check{font-size: 12px;color: #2ba8ff}
.identify_module h3 .tips{display: inline-block;padding: 1px 10px 1px 8px;color: #fff;background: #ff3a2b;border-radius: 2px;position: relative;margin-left: 15px;height: 20px;line-height: 19px;}

.warm_tips h3{font-size: 14px;color: #ee1111;font-weight: normal;}
.warm_tips a{color: #2ba8ff;text-decoration: underline;}
.warm_tips ul li{line-height: 20px;padding: 5px 0;font-size: 12px;font-weight: 500;color: #404040;}
.identify_tips{margin-top: 30px}

.integral_head{font-size: 14px;color: #666;margin-top: 20px}
.integral_head .check{color: #2ba8ff;font-size: 12px;}
.integral_head .themeCr{color: #ff3a2b;font-size: 18px;margin: 0 5px;}
.integral_head .fr{color: #ff3a2b;font-size: 12px;}
.integral_head .fr .iconfont{vertical-align: sub;margin-right: 5px}

.intrgral_module ul li p{color: #b2b2b2}
.intrgral_module ul li .num{font-size: 18px}
.intrgral_module ul .success .num{color: #ff3a2b}
.intrgral_module ul{display: inline-block;}
.intrgral_module .tips{color: #ff3a2b}

.indoor_line{border-bottom: 1px solid #e6e6e6;padding: 15px 0;font-size: 14px}
.indoor_line h3{font-weight: normal;font-size: 14px;margin-bottom: 10px}



.notice_layer{background: #fff;display: none;}
.notice_layer h3{height: 50px;line-height: 50px;position: relative;background: #ed2d2d;padding: 0 25px;font-size: 18px;color: #fff;font-weight: normal;}
.notice_layer h3 .close{position: absolute;display: inline-block;width: 20px;height: 20px;background: url(../images/bg-ico.png) no-repeat center center;
	background-position: -160px -140px;right: 15px;top: 15px;cursor: pointer;}
.notice_layer .notice_con{height: 345px;background: #f2f2f2;padding: 20px;overflow-y: auto;}
.notice_layer .notice_con .module{    padding: 10px 20px;background: #f5f5f5;margin-bottom: 20px;
    border-radius: 4px;border: 1px solid #e6e6e6;}
.notice_layer .notice_con .module h4{line-height: 32px;font-size: 15px;font-weight: 500;color: #333;}
.notice_layer .notice_con .module p{line-height: 24px;color: #707070;font-size: 12px;padding: 6px 0px;text-indent: 2em;}

.top_margin{margin-top: 175px;}
.register_con{background: #fff;overflow: hidden;box-shadow: 0 0 5px #ddd}
.register_con .top{height: 72px;line-height: 72px;border-bottom: 1px solid #e6e6e6}
.register_con .top a{display: inline-block;width: 33%;text-align: center;font-size: 16px;color: #b3b3b3;border-bottom: 2px solid #fff;
	line-height: 67px}
.register_con .top .num{font-size: 22px;margin-right: 4px}
.register_con .top .active{color: #ff3333;border-bottom: 2px solid #ff3333;}
.register_left{width: 850px;border-right: 1px solid #e6e6e6;float: left;padding: 15px 20px;min-height: 453px}
.register_right{}
.register_con .line_form{margin-top: 35px}
.register_con .line_form .line .select{width: 270px;margin-right: 0}

.hot_act{background: #fff;clear: both;overflow: hidden;width: auto;border: 1px solid #eee;margin-top: 20px;margin-bottom: 20px;box-shadow: 0 0 5px rgba(0,0,0,.04);}
.hot_act h2{height: 56px;line-height: 56px;font-size: 15px;font-weight: 200;text-indent: 40px;}
.hot_act ul li { width: 360px;margin-left: 30px;margin-bottom: 12px;float: left;}
.hot_act ul li p{line-height: 40px;font-size: 14px;font-weight: 400;}
.hot_act ul li:hover p{color: #ff3a87}

.register_links{text-align: center;}
.register_links img{display: inline-block;}
.register_links .more{font-size: 12px;color: #666;text-align: center;line-height: 36px}
.register_links .more a{color: #06f;text-decoration: underline;}

.register_success{ margin: 35px 0; padding: 30px 25px; background: #f0ffe9;overflow: hidden;}

.register_last{padding: 0 40px 30px 40px}
.register_success .imgtips{float: left;}
.register_success .texttips{float: left;margin-left: 20px}
.register_success .texttips h1{font-size: 20px;line-height: 24px;font-weight: 600;padding-bottom: 4px;margin-top: 5px;color: #222;}
.register_success .texttips h3{font-size: 14px;line-height: 30px;font-weight: 400;color: #999;}
.success_next{font-size: 15px}
.success_next .themeCr{font-weight: bold;}
.register_morestep{text-align: right;line-height: 60px;
    color: #666;font-size: 12px}
.register_morestep a{color: #06f;text-decoration: underline;margin: 0 6px}

.pay_way_wrap .pay_way_line{}
.pay_way_wrap .pay_way_line .tit{width: 123px;float: left;padding-top: 40px}
.pay_way_wrap .pay_way_line .con{margin-left: 123px;padding-left: 20px;border-bottom: 1px solid #e8e8e8;padding: 25px 0;overflow: hidden;}
.pay_way_wrap .pay_way_line .con p{padding: 5px 0}
.pay_way_wrap .pay_way_line ul li{font-size: 14px;line-height: 22px}
.pay_way_wrap .pay_way_line:last-child .con{border-bottom: none;}
.pay_way_wrap .inp,.rendezvous-input input{width: 150px; height: 38px; margin-top: 2px;background: #fff; border: 1px solid #d0d0d0; border-radius: 2px; box-shadow: 2px 2px 1px rgba(0,0,0,.06),inset 1px 1px 3px rgba(0,0,0,.06); line-height: 40px; font-size: 12px; color: #999;padding: 0 5px;margin-right: 10px}

.rendezvous-input input{}
.rendezvous-container{display: inline-block;}
.rendezvous-container input{background: url(../images/datebg.png) no-repeat 116px center;}
.pay_way_wrap .pay_way_line .select{background: #fff; border: 1px solid #d0d0d0; border-radius: 2px;margin-right: 3px}
.pay_way_wrap .pay_way_line p .select{width: 150px;height: 38px;box-shadow: 2px 2px 1px rgba(0,0,0,.06),inset 1px 1px 3px rgba(0,0,0,.06); }
.pay_way_wrap .pay_way_line .bank-list img{
    display: inline-block;
    vertical-align: middle;
    margin: 10px ;
}

.quit_btn{color: #aaa;font-size: 13px;margin-left: 5px}
.quit_btn:hover{color: #aaa;}
.nav .right_worklist{background: rgba(200,200,200,.06);
    padding: 0px 16px 0px 12px;margin-top: 17px;
    border-radius: 40px;height: 44px;line-height: 44px}
.nav .right_worklist em{display: inline-block;color: #fff;    -moz-opacity: .15;
    opacity: .15;
    filter: alpha(opacity=15);}
   .minnav .right_worklist{height: 40px;line-height: 40px;background: none;margin-top: 0px;}
.nav .right_worklist a{border: none;margin: 0;width: auto;padding: 0 5px;color: #e6e6e6;position: relative;}
.news_tips{display: inline-block;width: 16px;height: 16px;border-radius: 100%;background: #ff5544;color: #fff;text-align: center;	
	line-height: 15px;font-size: 12px;right: -13px;top: -2px;position: absolute;}
.nav .right_worklist a:hover{color: #ff3a2b}
.nav .right_worklist .iconfont{color: #d03226;margin-right: -2px}
.minnav .right_worklist{height: 40px;line-height: 40px}

.gameroom_list li{cursor: pointer;}
.gameroom_list li.on{background: #fffaf8;box-shadow: 0 0 5px #ff7469;border-color: #ff7469;}
.gameroom_list li.on em{display: block;}
.gameroom_list li em{display: inline-block;width: 20px;height: 20px;background: url(../images/n-u-43b.png) no-repeat;
	background-position:-20px 0px;position: absolute;right: 0;bottom: 0;display: none;}
.dividend_bonus{display: none;}


.indoor_line h3 .tit {border-left: 2px solid #e53d3d;display: inline;padding-left: 10px;height: 12px;}
.dividend_bonus .radio{margin-right: 5px}.indoor_line dl dt {margin: 10px 0;font-size: 12px;}
.indoor_line dl dd {color: #858383;padding-left: 20px;}
.indoor_toplist li{width: 15%}

/*page*/
.tcdPageCode{padding: 30px 20px 15px;text-align: left;color: #ccc;text-align:center;}
.tcdPageCode a{display: inline-block;color: #333;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #ff6644;color: #fff;background-color: #ff6644;	border: 1px solid #ff6644;}
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #ff6644;	border: 1px solid #ff6644;border-radius: 4px;vertical-align: middle;}
.tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}

/*calander*/
.Wdate{    border: 1px solid #d0d0d0!important;font-size: 12px;color: #999;padding: 0 5px;margin-right: 10px;height: 30px!important;border-radius: 3px;
    box-shadow: 2px 2px 1px rgba(0,0,0,.06),inset 1px 1px 3px rgba(0,0,0,.06)!important;}

/*status*/
.status_confirming{color: #ffae00}
.status_success{color: #5add13}
.status_error{color: #f81319}


/*egame*/
.egameslide .hd ul li,.egameslide .hd .last{width: 169px;height: 120px;background: #fff;border: 1px solid #f0f0f0;border-bottom: none;border-top: none;text-align: center;position: relative;cursor: pointer;float: left;}
.egameslide .hd ul li .isComing,.egameslide .hd .last .isComing{
    position: absolute;
    left: 0;
    top: 0;
}
.egameslide .hd ul li .tit{font-size: 14px;line-height: 16px;font-weight: 200;color: #333;}
.egameslide .hd ul li .pic{text-align: center;}
.egameslide .hd ul li .pic img{display: inline-block;}
.egameslide .hd ul li .pic .activepic{display: none;}
.egameslide .hd ul li.on .activepic{display: inline-block;}
.egameslide .hd ul li.on .default{display: none;}

.egameslide .hd ul li.on .tit{color: #fff}
.egameslide .hd ul li:nth-of-type(1).on{background: #5d3f9a}
.egameslide .hd ul li:nth-of-type(2).on{background: #24db3f}
.egameslide .hd ul li:nth-of-type(3).on{background: #ff3a2b}
.egameslide .hd ul li:nth-of-type(4).on{background: #9d1b1f}
.egameslide .hd ul li:nth-of-type(5).on{background: #ee1111}
.egameslide .hd ul li:nth-of-type(6).on{background: #F70}
.egameslide .hd ul li:nth-of-type(7).on{background: #4a64ff}
.egameslide .hd ul li:first-child{border-left: 0}
.egameslide .hd ul li:last-child{border-right: 0}



.egame_filter_top .list_wrap{vertical-align: text-bottom;display: inline-block;height: 52px;line-height: 60px;border-bottom: 2px solid #fff;float: left;}
.egame_filter_top .list{display: inline-block;height: 20px;
    border-right: 2px solid #e8e8e8;
    padding: 0 36px;line-height: 20px;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    color: #333;}
.egame_filter_top .list_wrap.active{border-bottom-color: #e10;color: #e10}
.egame_filter_top .list_wrap.active a{color: #e10}
.egame_filter_top .love{color: #e10;vertical-align: middle;margin-left: 5px;position: relative;    transition: all .2s ease-in;}

.egameslide .hd{background: #fff;overflow: hidden;}
.egame_filter_top{clear: both;height: 60px;border-top: 4px solid #f2f2f2;border-bottom: 4px solid #f2f2f2;position: relative;line-height: 60px;z-index: 9;background: #fff}
.egame_filter_top .title{font-weight: normal;line-height: 55px;float: left;font-size: 24px;margin-right: 30px;}
.egame_filter_top .title img{vertical-align: middle;margin-left: 15px;margin-right: 15px;margin-top: -12px;display: inline-block}

.list_showtype{display: inline-block; height: 34px;width: 91px;line-height: 34px;border: 1px solid #c2c2c2;border-radius: 36px;box-shadow: 0 0 5px rgba(0,0,0,.12);margin: 12px 100px 0 60px;overflow: hidden;float: left;}
.list_showtype a{display: inline-block;width: 50%;float: left;text-align: center;font-size: 22px;color: #888;vertical-align: bottom;}
.list_showtype .iconfont{vertical-align: bottom;}
.list_showtype .list_one{background: #f0f0f0;border-right: 1px solid #d2d2d2;}

.search_inp{min-width: 34px;line-height: 34px;height: 34px;display: inline-block;margin-left: 30px;
    border-radius: 36px;background: none;border: 1px solid #aaa;box-shadow: 0 0 6px rgba(0,0,0,.15);float: left;margin-top: 10px;}
.search_inp .inp{background:transparent;height: 28px;margin-left: 9px;width: 70%;border: none;box-shadow: none}
.search_inp .inp:focus{background:transparent;border: none;box-shadow: none}
.search_inp .iconfont{font-size: 20px;vertical-align: -11%;cursor: pointer;}
.search_inp button{
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url("../images/search.png") no-repeat;
    background-size: 100% 100%;
    border: none;
    vertical-align: middle;
}


.promotion_con{margin-top: -450px;background: #fff}
.promotion_con .top{margin: 30px 40px 0px 40px;padding-bottom: 35px;text-align: center;text-align: center;border-bottom: 2px solid #dcdcdc;}
.promotion_con .top h1{font-size: 28px;font-weight: 200;line-height: 60px;padding-top: 20px}
.promotion_con .top .time{color: #aaa;font-size: 14px;}
.promotion_con .con{ padding: 0px 40px 40px 40px;}
.promotion_con .con dl{font-size: 18px;font-weight: 500;color: #606060;margin: 30px 0px 0 0;position: relative;clear: both;}
.promotion_con .con dd{clear: both;padding: 10px 0px;text-align: left;font-size: 13px;line-height: 22px;color: #666;}
.promotion_con .con dd .themeCr{font-size: 16px;color: #ec2828;margin: 0 5px;font-weight: bold;}
.promotion_con .con dd ul .default{width: 198px;background: #fff;border: 2px solid #b4b0bc;border-radius: 16px;line-height: 100px;text-align: center;font-size: 15px;margin-bottom: 20px;margin-top: 10px;color: #2a2139;}
.promotion_con .con dd ul .minbox{width: 26px;line-height: 104px;text-align: center;font-family: "黑体";font-size: 18px;color: #c9c7cd;font-weight: bold;margin-top: 10px;}
.promotion_con .con dd ul li{float: left;}

.promotion_con .con table{width: 100%;border-left: 1px solid #312741;}
.promotion_con .con table th{background: #231a32;font-weight: bold;color: #fff;height: 44px;text-align: center;vertical-align: middle;border-right: 1px solid #312741;border-bottom: 1px solid #312741;}
.promotion_con .con table td{height: 44px;text-align: center;vertical-align: middle;border-right: 1px solid #312741;border-bottom: 1px solid #312741;color: #222;background: #fff;padding: 15px 10px;}
.promotion_con .con dd p{padding: 10px 0px;text-align: left;font-size: 13px;line-height: 22px;color: #666;}

.egame_list{float: left;width: 100%;border-right: 4px solid #eee;}
.egame_recommond{float: left;width: 300px;padding: 20px;display: none}

.egameslide .module{display: none}
.egameslide .module .bodylist{clear: both;}

.bodylist{background: #fff;overflow: hidden;}
.egame_list{overflow: hidden;}
.egame_list ul li{margin: 26px 2px 12px 35px;opacity: 1;width: 130px;float: left;border: 1px solid #e6e6e6;overflow: hidden;
    box-shadow: 2px 2px 0 rgba(0,0,0,.05);border-radius: 12px;position: relative;padding-bottom: 8px;background: #fff;}
.egame_list ul li .collect{padding: 6px 10px;text-align: center;overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;}
.egame_list ul li img{border-radius: 12px;width: 128px;height: 128px;}
.egame_list ul li .iconfont{color: #ccc;margin-top: 2px}
.egame_list ul li .button{position: absolute;left: 0px;top: 24px;display: inline-block;width: 110px;height: 36px;display: none;line-height: 36px;border-radius: 8px;background: #ff3a2b;box-shadow: 0 3px 0 #d82e21;color: #fff;text-align: center;margin: 20px 0 0 9px;cursor: pointer;}
.egame_list ul li:hover img{opacity: 0.9}
.egame_list ul li:hover{border-color:#ccc;box-shadow:0 0 6px rgba(0,0,0,.2);}
.egame_list ul li:hover .button{display: block;}

.egame_recommond .top_qrcode .qrimg{float: left;margin-bottom: 10px}
.egame_recommond .top_qrcode .qrimg img{width: 80px;}
.egame_recommond .top_qrcode dl{max-width: 164px;float: left;margin-left: 10px}
.egame_recommond .top_qrcode .pc_download{clear: both;display: block;
	width: 100%;height: 40px;line-height: 40px;text-align: center;background: #f21;color: #fff;
    border-radius: 3px;font-size: 12px;font-weight: 200;margin-top: 10px;box-shadow: 1px 2px 3px rgba(0,0,0,.15);}
.egame_recommond .top_qrcode dl dt{    font-size: 16px;font-weight: 200;line-height: 32px;color: #222;}
.egame_recommond .top_qrcode dl dd{line-height: 20px;color: #999;font-size: 12px}

.egame_recommond .hot_recommond{margin-top: 20px;}
.egame_recommond .hot_recommond h3{    border-bottom: 2px solid #e6e6e6;    line-height: 50px;position: relative;margin-bottom: -2px;}

.egame_recommond .hot_recommond h3 .tit{font-size: 16px;line-height: 50px;display: inline-block;border-bottom: 2px solid #d20;}

.egame_recommond .hot_recommond ul li {padding: 16px 0;
    border-bottom: 2px solid #eee;overflow: hidden;}
.egame_recommond .hot_recommond ul li .index{float: left;width: 18px;height: 18px;line-height: 18px;text-align: center;border-radius: 3px;
    background: #eee;color: #666;font-weight: normal;font-size: 12px;}
.egame_recommond .hot_recommond ul li .gamepic{float: left;margin-left: 10px;display: none;}
.egame_recommond .hot_recommond ul li .gamepic img{width: 80px;border-radius: 5px;}
.egame_recommond .hot_recommond ul li dl{margin-left: 10px;float: left;width: 80%;}
.egame_recommond .hot_recommond ul li dt{    line-height: 18px;font-size: 13px;font-weight: bold;color: #222;}
.egame_recommond .hot_recommond li .star{margin-top: 10px;float: right;margin-top: -20px;}
.egame_recommond .hot_recommond li .star .iconfont{color: #f21;font-size: 16px;}
.egame_recommond .hot_recommond li .gogame a{ margin: 6px 0 0 0px;display: inline-block; width: 72px;display: none; height: 26px; border-radius: 3px;
    line-height: 26px;color: #fff;font-size: 13px;font-weight: normal;text-align: center;background: #ff3a2b;
    border: 1px solid #ff3a2b;}
.egame_recommond .hot_recommond li.on .index{height: 80px;line-height: 80px;}
.egame_recommond .hot_recommond li.on .gogame a,.egame_recommond .hot_recommond li.on .gamepic{display: block;}
.egame_recommond .hot_recommond li.on dl{width: auto;}
.egame_recommond .hot_recommond li.on .star{float: none;margin-top: 10px}

/*收藏*/

.m-sidebar{position: fixed;top: 0;right: 0;background: #000;z-index: 2000;width: 35px;height: 100%;font-size: 12px;color: #fff;} 
.cart{color: #fff;text-align:center;line-height: 20px;padding: 200px 0 0 0px;} 
.cart span{display:block;width:20px;margin:0 auto;} 
.cart i{width:35px;height:35px;display:block; background:url(car.png) no-repeat;} 
#msg{position:fixed; top:300px; right:35px; z-index:10000; width:1px; height:52px; line-height:52px; font-size:20px; text-align:center; color:#fff; background:#360; display:none} 
.u-flyer{z-index: 99999;}

/*newlead*/
.new_lead {margin-top: 10px}
.new_lead .left_nav{width: 240px;float: left;background: #fff;min-height: 600px}
.new_lead .left_nav a{display: inline-block;width: 100%;height: 60px;line-height: 60px;padding-left: 30px;border-bottom: 2px solid #f2f2f2;
	position: relative;}
.new_lead .left_nav a.on{background: #ff4b4b;color: #fff;border-color: #ff4b4b}
.new_lead .right_details{margin-left: 240px;background: #f5f5f5}
.new_lead .right_details a{color: #0000ee}

.new_lead h1{line-height: 60px;margin-left: 30px;font-size: 24px;font-weight: 200;color: #e21;border-bottom: 1px solid #f0f0f0}
.new_lead .right_details dl{margin: 25px 40px 35px}
.new_lead .right_details dl dt{padding: 0 0 20px 0;line-height: 30px;font-size: 18px;}
.new_lead .right_details dl dd{ line-height: 32px;font-size: 14px;color: #666;text-indent: 2em;}
.new_lead .left_nav a:after{content: "";position: absolute;width: 0px;height: 60px;top: 0%;left: 0%;-webkit-transition: all .15s;transition: all .15s;background: #ff4b4b;z-index: 1;}
.new_lead img{display: inline-block;}
.new_lead .pic_wrap{text-align: center;margin: 25px 0}

.new_lead .left_nav a:hover:after{top:0;width:5px;}

.pro-e-bg{width: 100%;min-width: 1200px;height: 800px;position: absolute;top: 40px;left: 0px;background: #210339 url(../images/egame-banner-PT.jpg) no-repeat center top;}
.egame_con{position: relative;}

.bbinGame ul li img,.saGame ul li img{width: auto;height: auto;position: relative;max-width: none;margin: 0 auto}
.bbinGame ul li .pic{width: 180px;height: 144px;overflow: hidden}
.saGame ul li .pic{width: 180px;height: 144px;overflow: hidden}
.saGame .egame_list{width: 100%}
.saGame .egame_list ul li .button,.bbinGame .egame_list ul li .button{left: 23px;top: 37px;}

.yzm-img{display: inline-block;vertical-align: middle}
.yzm-img img{vertical-align: middle;position: relative;top: -2px}

.sendMsg{
    display: inline-block;
    width: 128px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    line-height: 38px;
    background: #ff3a2b;
    color: #fff;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.sendMsg:hover,.sendMsg:focus{
    color: #fff;
}
.sendMsg.active{
    background: #ccc;
    color: #333;
}










































